<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Created</title>
</head>
<body>

    <h1 style="color:#002B5A">Welcome to the <span style="color:#006DC1">Ocean Vista</span> family!</h1>

    <p>Hi {{user.name or 'Guest'}},</p>
    <p>Thank you for creating an account with us. You’re now one step closer to enjoying sun-soaked stays, stunning ocean views, and effortless bookings.</p>

    <p>We can't wait to welcome you to Ocean Vista!</p>

    <p>Warm regards,</p>
    <p>The Ocean Vista Team</p>


    
</body>
</html>

<style>

</style>