{% extends 'base.html' %}

{% block title %} My Bookings {% endblock %}

{% block styles %} 
<link rel="stylesheet" href="../static/css/bookings.css" />
{% endblock %}

{% block content %}



<div class="content">

    <div class="section1">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-message {{ messages[-1][0] }}">
            {{ messages[-1][1] }}
        </div>
        {% endif %}
        {% endwith %}
    </div>

    <p class="title">Welcome, {{ session.get('user_name', '[Name]') | upper }}</p>
    <br>
    <br>

    <div class="view-options">
        <button class="view" id="current">Current</button>
        <button class="view" id="history">History</button>
        <button class="view" id="saved">Saved Bookings</button>
    </div>

    <div class="current">
        <div class="section1">
            <br>
            <p class="subtitle">My Current Stay</p>
            <div class="placards">
                {% for c in current %}
                <div class="placard">
                    <i class="fa-solid fa-circle-info placard-information" onclick='openModal(event, {{ {
                        "img": c.room.img,
                        "checkin": c.check_in.strftime("%A, %B %d, %Y"),
                        "checkout": c.check_out.strftime("%A, %B %d, %Y"),
                        "room_number": c.room.floor.floor_number ~ c.room.room_number,
                        "address": c.room.hotel.address,
                        "number_beds": c.room.number_beds,
                        "room_type": c.room.room_type.value,
                        "wheelchair":c.room.wheelchair_accessible.value,
                        "balcony": c.room.balcony.value,
                        "ocean_view": c.room.ocean_view.value,
                        "city_view": c.room.city_view.value,
                        "smoking": c.room.smoking.value,
                        "num_guests": c.num_guests,
                        "fees":c.fees,
                    } | tojson | safe }})'></i>
                    <img src="{{c.room.img}}" alt="Current Room" width="100%" height="230px">
                    <div class="information">
                        <div class="details pbot">
                            <div class="date-info">
                                <p>{{c.check_in.strftime('%A, %B %d, %Y')}}</p>
                                <p>{{c.check_out.strftime('%A, %B %d, %Y')}}</p>
                            </div>
                            <br>
                            <div class="hotel-details">
                                {% set s = c.room.hotel.address.split(',')[2][:3] %}
                                <p>{{c.room.hotel.location.value}}, {{s}}</p>
                            </div>
                        </div>
                        <div class="links ptop">
                            <a href="">Billing Details</a>
                            <a href="{{url_for('request_services', bid=c.id)}}">Request Services</a>
                            <a href="">View our Dining Menu</a>
                            <a href="">Speak to a representative</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <br>
        <br>
        <div class="section1">
            <p class="subtitle">My Upcoming Bookings</p>
            <div class="placards">
                {% for f in future %}
                <div class="placard">
                    <i class="fa-solid fa-circle-info placard-information" onclick='openModal(event, {{ {
                        "img": f.room.img,
                        "checkin": f.check_in.strftime("%A, %B %d, %Y"),
                        "checkout": f.check_out.strftime("%A, %B %d, %Y"),
                        "room_number": f.room.floor.floor_number ~ f.room.room_number,
                        "address": f.room.hotel.address,
                        "number_beds": f.room.number_beds,
                        "room_type": f.room.room_type.value,
                        "wheelchair":f.room.wheelchair_accessible.value,
                        "balcony": f.room.balcony.value,
                        "ocean_view": f.room.ocean_view.value,
                        "city_view": f.room.city_view.value,
                        "smoking": f.room.smoking.value,
                        "num_guests": f.num_guests,
                        "fees":f.fees,
                    } | tojson | safe }})'></i>
                    <img src="{{f.room.img}}" alt="Upcoming Bookings" width="100%" height="230px">
                    <div class="information">
                        <div class="details pbot">
                            <div class="date-info">
                                <p>{{f.check_in.strftime('%A, %B %d, %Y')}}</p>
                                <p>{{f.check_out.strftime('%A, %B %d, %Y')}}</p>
                            </div> 
                            <br>                           
                            <div class="hotel-details">
                                {% set s = f.room.hotel.address.split(',')[2][:3] %}
                                <p>{{f.room.hotel.location.value}}, {{s}}</p>
                            </div>                        
                        </div>
                        <div class="links2 ptop">
                            <a href="{{url_for('modify',bid=f.id )}}">Modify Booking</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
        
<!-- -------------------------------------- -->
<div class="history">
    <div class="section1">
        <br>
        <p class="subtitle">Past Bookings</p>
        <div class="placards">
            {% for pa in past %}
            <div class="placard">
                <i class="fa-solid fa-circle-info placard-information" onclick='openModal(event, {{ {
                    "img": pa.room.img,
                    "checkin": pa.check_in.strftime("%A, %B %d, %Y"),
                    "checkout": pa.check_out.strftime("%A, %B %d, %Y"),
                    "room_number": pa.room.floor.floor_number ~ pa.room.room_number,
                    "address": pa.room.hotel.address,
                    "number_beds": pa.room.number_beds,
                    "room_type": pa.room.room_type.value,
                    "wheelchair":pa.room.wheelchair_accessible.value,
                    "balcony": pa.room.balcony.value,
                    "ocean_view": pa.room.ocean_view.value,
                    "city_view": pa.room.city_view.value,
                    "smoking": pa.room.smoking.value,
                    "num_guests": pa.num_guests,
                    "fees":pa.fees,
                } | tojson | safe }})'></i>
                <img src="{{pa.room.img}}" alt="Past Bookings" width="100%" height="230px">
                <div class="information">
                    <div class="details pbot">
                        <div class="date-info">
                            <p>{{pa.check_in.strftime('%A, %B %d, %Y')}}</p>
                            <p>{{pa.check_out.strftime('%A, %B %d, %Y')}}</p>
                        </div>
                        <br>
                        <div class="hotel-details">
                            {% set s = pa.room.hotel.address.split(',')[2][:3] %}
                            <p>{{pa.room.hotel.location.value}}, {{s}}</p>
                        </div>
                    </div>
                    <div class="links ptop">
                        <a href="">Leave a review</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <br>
    <br>
    <div class="section1">
        <br>
        <p class="subtitle">Canceled Bookings</p>
        <div class="placards">
            {% for ca in canceled %}
            <div class="placard">
                <i class="fa-solid fa-circle-info placard-information" onclick='openModal(event, {{ {
                    "img": ca.room.img,
                    "checkin": ca.check_in.strftime("%A, %B %d, %Y"),
                    "checkout": ca.check_out.strftime("%A, %B %d, %Y"),
                    "room_number": ca.room.floor.floor_number ~ ca.room.room_number,
                    "address": ca.room.hotel.address,
                    "number_beds": ca.room.number_beds,
                    "room_type": ca.room.room_type.value,
                    "wheelchair":ca.room.wheelchair_accessible.value,
                    "balcony": ca.room.balcony.value,
                    "ocean_view": ca.room.ocean_view.value,
                    "city_view": ca.room.city_view.value,
                    "smoking": ca.room.smoking.value,
                    "num_guests": ca.num_guests,
                    "fees":ca.fees,
                } | tojson | safe }})'></i>
                <img src="{{ca.room.img}}" alt="Canceled Bookings" width="100%" height="230px">
                <div class="information">
                    <div class="details pbot">
                        <div class="date-info">
                            <p>{{ca.check_in.strftime('%A, %B %d, %Y')}}</p>
                            <p>{{ca.check_out.strftime('%A, %B %d, %Y')}}</p>
                        </div>
                        <br>
                        <div class="hotel-details">
                            {% set s = ca.room.hotel.address.split(',')[2][:3] %}
                            <p>{{ca.room.hotel.location.value}}, {{s}}</p>
                        </div>
                    </div>
                    <div class="links ptop">
                        <p>Cancel Date: {{ca.cancel_date.strftime('%B %d, %Y')}}</p>
                        <p>Refund Type: {{'None' if ca.refund_type==YesNo.N else 'Full'}}</p>                   
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- ---------------------------------------->
    <div class="saved">
        <div class="section1">
            <br>
            <p class="subtitle">Favorites</p>
            <div class="placards">
                <div class="placard">
                    <img src="../static/images/inside.jpeg" alt="Saved Bookings" width="100%" height="230px">
                    <div class="information">
                        <div class="details pbot">
                            <p>[Date of Booking]</p>
                            <p>[Location of Hotel]</p>
                        </div>
                        <div class="links ptop">
                            <a href="">View more details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="room-modal" id="room-modal">
    <div class="more-info-content" id="more-info-content">
        <div class="close">
            <p id="close" onclick="closeModal()">&times;</p>
        </div>

        <!-- <p class="more-info-title">Reservation Details</p>
        <img id="modal-img" src=""> -->
        <p id="modal-room-details"></p>

        <br>
        <p id="modal-checkin-date"></p>
        <p id="modal-checkout-date"></p>
        <p id="modal-hotel-address"></p>
        <br>
        <p id="modal-room-number"></p>
        <p id="modal-num-guests"></p>
        <br>
        <p id="modal-fees"></p>




    </div>
</div>

<script>
    function openModal(event, details) {
        document.getElementById("room-modal").style.display = "flex";
        // document.getElementById('modal-img').src = details.img;
        document.getElementById('modal-checkin-date').textContent = 'Check-In Date: ' + details.checkin;
        document.getElementById('modal-checkout-date').textContent = 'Check-Out Date: ' + details.checkout;
        document.getElementById('modal-room-number').textContent = 'Room Number: ' + details.room_number;
        document.getElementById('modal-hotel-address').textContent = 'Hotel Address: ' + details.address;
        let sentence = details.number_beds + '-Bedroom ' + details.room_type
        if(details.wheelchair==='Y'){
            sentence += " (Wheelchair Accessible)";
        }
        if(details.balcony==='Y'){
            sentence += " with Balcony";
        }
        if(details.ocean_view==='Y' && details.city_view==='Y' ){
            sentence += " - Ocean View, City View";
        } else if(details.ocean_view=='Y'){
            sentence += " - Ocean View";
        } else if(details.city_view==='Y'){
            sentence += " - City View";
        }
        if(details.smoking==='N'){
            sentence += " | Non-Smoking";
        }
        document.getElementById('modal-room-details').textContent = sentence;
        document.getElementById('modal-num-guests').textContent = 'Number of Guests: ' + details.num_guests;
        document.getElementById('modal-fees').textContent = 'Total Fees: $' + details.fees;
    }
    
    function closeModal() {
        document.getElementById("room-modal").style.display = "none";
    }
    document.addEventListener("DOMContentLoaded", function(){
        const items = document.querySelectorAll('.view');
        document.querySelectorAll('#current').forEach(i=>{i.style.borderColor='#000000';});
        items.forEach(item =>{
            item.addEventListener("click", function(){
                document.querySelectorAll('.view').forEach(i=>{i.style.borderColor='#c0bfbf';});
                if(this.id==='current'){
                    document.querySelectorAll('.current').forEach(i=>{i.style.display='flex';});
                    document.querySelectorAll('.history').forEach(i=>{i.style.display='none';});
                    document.querySelectorAll('.saved').forEach(i=>{i.style.display='none';});
                    this.style.borderColor = '#000000';
                } else if(this.id==='history'){
                    document.querySelectorAll('.current').forEach(i=>{i.style.display='none';});
                    document.querySelectorAll('.history').forEach(i=>{i.style.display='flex';});
                    document.querySelectorAll('.saved').forEach(i=>{i.style.display='none';});
                    this.style.borderColor = '#000000';
                } else if(this.id==='saved'){
                    document.querySelectorAll('.current').forEach(i=>{i.style.display='none';});
                    document.querySelectorAll('.history').forEach(i=>{i.style.display='none';});
                    document.querySelectorAll('.saved').forEach(i=>{i.style.display='flex';}); 
                    this.style.borderColor = '#000000';  
                }
            })
            
        })
    });

</script>

<style>
    .flash-message {
      padding: 10px;
      margin: 10px auto;
      border-radius: 5px;
      text-align: center;
      width: 100%;
    }
    .success {
      background-color: #d4edda;
      color: #155724;
      border: 1px solid #c3e6cb;
    }
    .error {
      background-color: #f8d7da;
      color: #721c24;
      border: 1px solid #f5c6cb;
    }
</style>


{% endblock %}