<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <title> Events Page </title>
    <link rel="stylesheet" href="Eventstyle.css">
</head>

<body>
     <!-- hearder section -->
     <div class="header">
            <h1> HEADER </h1>
     </div>

     <!-- Events section -->
      <div class="events-section">
        <div class="events-title"> 
            <h2> Events </h2>
        </div>
      </div>

      <!-- Events card latout - image left , title & details right -->
       <div class="event-card" id="Default">
                <div class="event-image">
                    <img src="pic/volleyballbeach.jpg" width="400px" height="300" alt="Event Image">
                </div>
            <div class="event-content">
                <div class="events-title">
                    <h3> Beach VolleyBall </h3>
                </div>
                <div class="event-details">
                    <p> Join us for this amazing event that you wont want to miss. Create a team of 4 to enter in this volleyball event.
                    The team with the most points wins a free night stay plus free drinks for one day.
                    </p>
                </div>
                <div class="event-datetime">
                    <span> June 20, 2025 </span> | <span> 8:00 AM - 3:00 PM  </span>
                </div>
            </div>
       </div>

        <!-- Event card layout 2 -->
        <div class="event-card" id="Default">
            <div class="event-image">
                <img src="pic/spabeach.jpg" width="400px" height="300" alt="Event Image">
            </div>
        <div class="event-content">
            <div class="events-title">
                <h3> Spa Day </h3>
            </div>
            <div class="event-details">
                <p> We are having a free Spa session on the beach. Enjoy a nice relaxing spa day while hearing 
                    the ocean tides. Free Spa, no appointments needed, walk in Spa for all members. 
                </p>
            </div>
            <div class="event-datetime">
                <span> June 25, 2025 </span> | <span> 8:00 AM - 3:00 PM  </span>
            </div>
        </div>
        </div>


        <!-- Event card layout 3 -->
        <div class="event-card" id="coming soon">
            <div class="event-image">
                <img src="pic/eatingwater.jpg" width="400px" height="300" alt="Event Image">
            </div>
        <div class="event-content">
            <div class="events-title">
                <h3> Dining in the Water  </h3>
            </div>
            <div class="event-details">
                <p> Join us for this amazing event that you wont want to miss. We have arranged seating and tables in the water so that you can eat while enjoying the warm water.
                    We are serving an 5 star all you can eat buffet, Including (Crab legs, lobster)

                </p>
            </div>
            <div class="event-datetime">
                <span> June 29, 2025 </span> | <span> 5:00 PM - 10:00 PM  </span>
            </div>
        </div>
        </div>

        
        <!-- Event card layout 4 -->
        <div class="event-card " id="Special Event">
            <div class="event-image">
                <img src="pic/djbeach.jpg" width="400px" height="300" alt="Event Image">
            </div>
        <div class="event-content">
            <div class="events-title">
                <h3> Dj on the beach  </h3>
            </div>
            <div class="event-details">
                <p> Join us for this amazing event that you wont want to miss. Dj Khalid will be performing out on the beach.
                     There will be drinks, food , and other activities for the whole family.

                </p>
            </div>
            <div class="event-datetime">
                <span> July 3, 2025 </span> | <span> 5:00 PM - 10:00 PM  </span>
            </div>
        </div>
        </div>

        
        <div class="event-card " id="Special Event">
            <div class="event-image">
                <img src="pic/fireworks.jpg" width="400px" height="300" alt="Event Image">
            </div>
        <div class="event-content">
            <div class="events-title">
                <h3> 4th of July  </h3>
            </div>
            <div class="event-details">
                <p> Happy 4th of July. Don't miss out, we are hosting a firework show off the coast and everyone is welcome to join. 
                    Head down to the beach, save your spot on the sand and enjoy the show.
                </p>
            </div>
            <div class="event-datetime">
                <span> July 4, 2025 </span> | <span> 9:00 PM - 11:00pm  </span>
            </div>
        </div>
        </div>


        <!-- Event card layout 5 -->
        <div class="event-card " id="Special Event">
            <div class="event-image">
                <img src="pic/groupbeach.jpg" width="400px" height="300" alt="Event Image">
            </div>
        <div class="event-content">
            <div class="events-title">
                <h3> Beach Day  </h3>
            </div>
            <div class="event-details">
                <p> Join us for this amazing event that you wont want to miss. We encerage every to go to the beach
                    and spend some time in the water and under the sun. We will be providing drinks and activities for 
                    the whole family to enjoy and make soem great memories.

                </p>
            </div>
            <div class="event-datetime">
                <span> July 11, 2025 </span> | <span> 5:00 PM - 10:00pm  </span>
            </div>
        </div>
        </div>
        

            <!-- Event card layout 6 -->
            <div class="event-card" id="Default">
                <div class="event-image">
                    <img src="pic/BarBeach.webp" width="400px" height="300" alt="Event Image">
                </div>
            <div class="event-content">
                <div class="events-title">
                    <h3> Relax on the Beach </h3>
                </div>
                <div class="event-details">
                    <p> Join us for this amazing event,live music and drinks are half off on the beach side.
                         (Must be +21 or older to attend)
                    </p>
                </div>
                <div class="event-datetime">
                    <span> August 10, 2025 </span> | <span> 5:00 PM - 11:00pm  </span>
                </div>
            </div>
            </div>

            <!-- Event card layout 7 special  -->
            <div class="event-card event-card-spacial">
                <div class="event-image">
                    <img src="pic/beachwedding.jpg" width="450px" height="300" alt="Event Image">
                </div>
            <div class="event-content">
                <div class="events-title">
                    <h3> Special Event </h3>
                </div>
                <div class="event-details">
                    <p> *Private Wedding Venue* There will be an exclusive private wedding ceramony at the beach. 
                        Please be respectfull and stay clear of the beach until the cerimony is over. 
                    </p>
                </div>
                <div class="event-datetime">
                    <span> July 20, 2025 </span> | <span> 9:00 am - 11:00am  </span>
                </div>
            </div>
            </div>

        <!-- Event card announcement -->
        <div class="event-card" id="announcement" >
                <div class="event-content">
                    <div class="events-title">
                        <h3> Announcemnet Coming Soon </h3>
                    </div>
                        <div class="event-details">
                            <p> No upcoming events at the moment. We'll keep youposted as soon as possible.
                                </p>
                        </div>
                    <div class="event-time-block">
                        <span> Comming soon </span>
                    </div>
            </div>
        </div>

        <!-- Footer section -->
         <div class="footer">
            <h1> Footer information </h1>
         </div>

</body>