{% extends 'base.html' %}

{% block title %} FAQs {% endblock %}

{% block styles %} 
<link rel="stylesheet" href="../static/css/faq.css" />
{% endblock %}

{% block content %}

<!-- this page will be dynamic -->

<div class="content">
    <br>
    <div class="title upper" style="text-align:center;">
        <p>Frequently Asked Questions (FAQs)</p>
    </div>
    <br>
    <div class="title upper">
        <img src="../static/images/pool.webp" alt="profile image" width="100%" height="400px">
    </div>
    <br>
    <div class="title">  
        {% for subject, faq in faqs|groupby('subject') %}
        <div class="overall">
            <p class="subject">{{subject}}</p>
            <div class="questions">
                {% for f in faq %}
                <button class="expand" id="{{f.id}}"> 
                    <p>{{f.question}}</p>
                    <i class="fa-solid fa-caret-down"></i>
                </button>
                <div class="answer_num">
                    <div class="description delete">
                        <div class="">
                            <p style="overflow-wrap:break-word;">
                                {{f.answer}}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
        </div>
        </div>
        <br>
        <br>
        {% endfor %}
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function(){
        const items = document.querySelectorAll('.expand');
        items.forEach(item =>{
            item.addEventListener("click", function(){
                const answer = this.nextElementSibling;
                document.querySelectorAll('.answer_num').forEach(i=>{i.style.display='none';});
                if(answer){
                    answer.style.display= (answer.style.display==='' || answer.style.display==='none') ? answer.style.display='flex' : answer.style.display='none';;
                }
            })
            
        })
    });
</script>
{% endblock %}
