<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <title> Menus Page </title>
    <link rel="stylesheet" href="menustyle.css">
</head>

<body>
        <div class="menu-header">
            <h1> Menus </h1>
        </div>
        <div class="menu-announcement">
            <h2 class="announcement-title"> Room Service / Custom Requests </h2>
            <div class="announcement-details">
                <p> * Available from 5 am - 11:30 pm. Order from your room phone. By dialling your room number + '#' + '8' on the keypad to order room service directly to your room.
                    Customs ordering from the kicken or orders past open kichen hours will result in an additional $30 fee.
                </p>
            </div>
        </div>
        <div class="menu-announcement">
            <h2 class="announcement-title"> Food Alergies </h2>  <!-- Need to add these icons to every card  -->
            <div class="announcement-details">
                <p> * Each Icon will represent if the disk is prepared with this specific of ingrediant *.</p>
                <li> Dairy - <img src="pic/Icon_dairy.png" width="20px" >   </li> <li> Eggs - <img src="pic/Icon_eggs.png" width="20px"  >   </li> 
                <li> Wheat - <img src="pic/Icon_wheats.png" width="21px">  </li> <li> Soy - <img src="pic/Icon_soys.png" width="20px" > </li>
                <br>
                <li> Fish - <img src="pic/Icon_fishs.png" width="20px" >  </li> <li> ShellFish - <img src="pic/Icon_shell.png" width="20px" > 
                 </li> <li> Sesame - <img src="pic/Icon_sesame.png" width="20px" >  </li>
            </div>
        </div>
        <!-- Menus Categoiries Section -->



 <!-- Starting to realize that I need to make the menu page dynamic  -->


<!-- Example of a complete menu section with original class names -->
<div class="menu-section">
    <h2 class="section-title">Breakfast</h2>
    <div class="menu-table">
        <!-- French Toast Item -->
        <div class="menu-item">
            <div class="flipper">
                <!-- Front side -->
                <div class="front">
                    <div class="item-image">
                        <img src="pic/FrenchToast.webp" width="300" height="275" alt="FrenchToast">
                    </div>
                    <h3 class="item-title">French Toast</h3> 
                    <span class="item-price">$12.50</span>
                    <h4 class="ClickHere"> click for info </h4>
                </div>
                <!-- Back side -->
                <div class="Back">
                    <div class="Back-card">
                        <div class="item-title">French Toast</div>
                        <div class="Food-info">
                            <p>(5 pieces of toast per serving)</p>
                            Ingredients: Bread challah, eggs, milk, vanilla, cinnamon, butter, maple syrup, strawberries, blueberries.
                        </div>
                        <div class="Nutrition-info">
                            Calories: 450 | Protein: 10g | Carbs: 20g
                        </div>
                        <div class="fip-instru">
                            Click to flip back
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!-- new item -->
            <div class="menu-item">
                <div class="flipper">
                    <!-- Front side -->
                    <div class="front">
                        <div class="item-image">
                            <img src="pic/eggsBenedict.webp" width="300" height="275" alt="Eggs benedict">
                        </div>
                        <h3 class="item-title"> Eggs Benedict </h3>
                        <span class="item-price">$10</span>
                        <h4 class="ClickHere"> click for info </h4>
                    </div>
                                    <!-- Back side -->
                <div class="Back">
                    <div class="Back-card">
                        <div class="item-title">Eggs Benedict</div>
                        <div class="Food-info">
                            Ingredients: English muffins, Canadian bacon/ham, eggs, butter, lemon juice, salt, cayenne pepper.
                        </div>
                        <div class="Nutrition-info">
                            Calories: 550 | Protein: 33g | Carbs: 25g
                        </div>
                        <div class="fip-instru">
                            Click to flip back
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="menu-item">
                <div class="flipper">
                    <div class="front">
                        <div class="item-image">
                            <img src="pic/bananaWaffles.webp" width="300" height="275" alt="Banana and Waffles">
                        </div>
                        <h3 class="item-title"> Banana and Waffles </h3>
                        <span class="item-price">$17.25</span>
                        <h4 class="ClickHere"> click for info </h4>
                    </div>
                <div class="Back">
                    <div class="Back-card">
                        <div class="item-title"> Banana and Waffles</div>
                        <div class="Food-info">
                            <p>(2 waffles per serving)</p>
                            Ingredients: Flour, eggs, milk, baking powder, sugar, butter,
                             bananas, walnuts, maple syrup, whipped cream.
                        </div>
                        <div class="Nutrition-info">
                            Calories: 700 | Protein: 15g | Carbs: 90g
                        </div>
                        <div class="fip-instru">
                            Click to flip back
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="menu-item">
                <div class="flipper">
                    <div class="front">
                <div class="item-image">
                    <img src="pic/FiddleheadandBaconOmelette.webp" width="300" height="275" alt="FiddleheadandBaconOmelette">
                </div>
                <h3 class="item-title"> Fiddle Head and Bacon Omelette </h3>
                <span class="item-price">$15.50</span>
                <h4 class="ClickHere"> click for info </h4>

            </div>
            <div class="Back">
                <div class="Back-card">
                    <div class="item-title">Fiddle Head and Bacon Omelette</div>
                    <div class="Food-info">
                        Ingredients: Eggs, butter, cheese, tomatoes, onions, celantro, chives, salt, pepper, bacon.

                    </div>
                    <div class="Nutrition-info">
                        Calories: 450 | Protein: 10g | Carbs: 20g
                    </div>
                    <div class="fip-instru">
                        Click to flip back
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div class="menu-item">
                <div class="flipper">
                    <div class="front">
                <div class="item-image">
                    <img src="pic/YogurtParfait.webp" width="300" height="275" alt="YogurtParfait">
                </div>
                <h3 class="item-title"> Yogurt Parfait </h3>
                <span class="item-price">$8</span>
                <h4 class="ClickHere"> click for info </h4>
            </div>
            <div class="Back">
                <div class="Back-card">
                    <div class="item-title">Yogurt Parfait</div>
                    <div class="Food-info">
                        Ingredients: Greek yogurt, granola, fresh strawberries, mangoes, banana,  peaches, honey as a sweetener.

                    </div>
                    <div class="Nutrition-info">
                        Calories: 270 | Protein: 40g | Carbs: 15g
                    </div>
                    <div class="fip-instru">
                        Click to flip back
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div class="menu-item">
                <div class="flipper">
                    <div class="front">
                <div class="item-image">
                    <img src="pic/BananaPancakes.webp" width="300" height="275" alt="BananaPancakes">
                </div>
                <h3 class="item-title"> Banana Pancakes </h3>
                <span class="item-price">$13.25</span>
                <h4 class="ClickHere"> click for info </h4>
            </div>
            <div class="Back">
                <div class="Back-card">
                    <div class="item-title">Banana Pancakes </div>
                    <div class="Food-info">
                        <p>(3 pancakes per serving )</p>
                        A layered yogurt parfait served in a clear glass. Contains layers of white yogurt, 
                        fresh fruit (strawberries, mango, peach, banana),
                         and granola.
                    </div>
                    <div class="Nutrition-info">
                        Calories: 600 | Protein: 90g | Carbs: 15g
                    </div>
                    <div class="fip-instru">
                        Click to flip back
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div class="menu-item">
                <div class="flipper">
                    <div class="front">
                <div class="item-image">
                    <img src="pic/SouthwestBreakFastBurritos.webp" width="300" height="275" alt="SouthwestBreakFastBurritos">
                </div>
                <h3 class="item-title"> SouthWest BreakFast Burritos </h3>
                <span class="item-price">$12</span>
                <h4 class="ClickHere"> click for info </h4>
            </div>
            <div class="Back">
                <div class="Back-card">
                    <div class="item-title">SouthWest BreakFast Burritos</div>
                    <div class="Food-info">
                        Ingredients: Flour tortilla, eggs, ground beef or sausage, beans (likely pinto or black),
                         cheddar cheese, tomatoes, green bell peppers, onions, spices like cumin and chili powder, possibly sour cream.
                    </div>
                    <div class="Nutrition-info">
                        Calories: 550 | Protein: 30g | Carbs: 50g
                    </div>
                    <div class="fip-instru">
                        Click to flip back
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- end of breakfast -->
        </div>
        </div>


        <!-- Menu Dinning  -->
        <div class="menu-section">
            <h2 class="section-title"> Dinner </h2>
            <div class="menu-table">
                <div class="menu-item">
                    <div class="flipper">
                        <div class="front">
                <div class="item-image">
                    <img src="pic/FrenchPorkRillettes.webp" width="300" height="275" alt="FrenchPorkRillettes">
                </div>
                <h3 class="item-title"> French Pork Rillettes </h3>
                <span class="item-price">$18.70</span>
                <h4 class="ClickHere"> click for info </h4>
            </div>
            <div class="Back">
                <div class="Back-card">
                    <div class="item-title">French Pork Rillettes</div>
                    <div class="Food-info">
                        Ingredients: Pork, herbs, spices, garlic, shallots, butter or fat, baguette, olive oil.
                    </div>
                    <div class="Nutrition-info">
                        Calories: 400 | Protein: 15g | Carbs: 30g
                    </div>
                    <div class="fip-instru">
                        Click to flip back
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div class="menu-item">
                <div class="flipper">
                    <div class="front">
                <div class="item-image">
                    <img src="pic/CrabCakes.webp" width="300" height="275" alt="CrabCakes">
                </div>
                <h3 class="item-title"> Crab Cakes </h3>
                <span class="item-price">$17</span>
                <h4 class="ClickHere"> click for info </h4>
            </div>
            <div class="Back">
                <div class="Back-card">
                    <div class="item-title">Crab Cakes</div>
                    <div class="Food-info">
                        Ingredients: Lump crab meat, breadcrumbs, mayonnaise, Dijon mustard, 
                        egg, bell peppers, green onions, Old Bay seasoning, lemon.

                    </div>
                    <div class="Nutrition-info">
                        Calories: 325 | Protein: 25g | Carbs: 15g
                    </div>
                    <div class="fip-instru">
                        Click to flip back
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div class="menu-item">
                <div class="flipper">
                    <div class="front">
                <div class="item-image">
                    <img src="pic/SteamedMusselsInWhiteWine.webp" width="300" height="275" alt="SteamedMusselsInWhiteWine">
                </div>
                <h3 class="item-title"> Steamed Mussels in White Wine </h3>
                <span class="item-price">$18</span>
                <h4 class="ClickHere"> click for info </h4>
            </div>
            <div class="Back">
                <div class="Back-card">
                    <div class="item-title">Steamed Mussels in White Wine </div>
                    <div class="Food-info">
                        Ingredients: Fresh mussels, white wine, garlic, shallots, butter, 
                        fresh herbs (parsley, thyme), lemon, black pepper, crusty bread.

                    </div>
                    <div class="Nutrition-info">
                        Calories: 200 | Protein: 20g | Carbs: 8g
                    </div>
                    <div class="fip-instru">
                        Click to flip back
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div class="menu-item">
                <div class="flipper">
                    <div class="front">
                <div class="item-image">
                    <img src="pic/CrispyFriedOyster.webp" width="300" height="275" alt="CrispyFriedOyster">
                </div>
                <h3 class="item-title"> Crispy Fried Oyster </h3>
                <span class="item-price">$20</span>
                <h4 class="ClickHere"> click for info </h4>
            </div>
            <div class="Back">
                <div class="Back-card">
                    <div class="item-title">Crispy Fried Oyster</div>
                    <div class="Food-info">
                        (Per serving of 6 oysters) 
                        Ingredients: Fresh oysters, cornmeal, flour, eggs, seasoning (likely cayenne, salt, pepper), vegetable oil for frying.
                    </div>
                    <div class="Nutrition-info">
                        Calories: 400 | Protein: 25g | Carbs: 30g
                    </div>
                    <div class="fip-instru">
                        Click to flip back
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div class="menu-item">
                <div class="flipper">
                    <div class="front">
                <div class="item-image">
                    <img src="pic/ShrimpCeviche.webp" width="300" height="275" alt="ShrimpCeviche">
                </div>
                <h3 class="item-title"> Shrimp Ceviche </h3>
                <span class="item-price">$15</span>
                <h4 class="ClickHere"> click for info </h4>
            </div>
            <div class="Back">
                <div class="Back-card">
                    <div class="item-title">Shrimp Ceviche</div>
                    <div class="Food-info">
                        Ingredients: Shrimp, lime juice, lemon juice, tomatoes, red onion,
                         jalapeño and serrano peppers, avocado, cilantro, salt, black pepper, corn tortilla chips.
                    </div>
                    <div class="Nutrition-info">
                        Calories: 225 | Protein: 25g | Carbs: 15g
                    </div>
                    <div class="Nutrition-info">
                        Tortilla chips (1 serving): Calories: 140 | Protein: 2g | Carbs: 18g
                    </div>
                    <div class="fip-instru">
                        Click to flip back
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div class="menu-item">
                <div class="flipper">
                    <div class="front">
                <div class="item-image">
                    <img src="pic/SalmonwithPotatoesSpinachCiderCream.webp" width="300" height="275" alt="SalmonwithPotatoesSpinachCiderCream">
                </div>
                <h3 class="item-title"> Salmon with Potatoes Spinach CiderCream </h3>
                <span class="item-price">$20</span>
                <h4 class="ClickHere"> click for info </h4>
            </div>
            <div class="Back">
                <div class="Back-card">
                    <div class="item-title">Salmon with Potatoes Spinach CiderCream</div>
                    <div class="Food-info">
                        Ingredients: Salmon fillet, olive oil, salt, pepper, potatoes, leafy greens, garlic, lemon.
                    </div>
                    <div class="Nutrition-info">
                        Calories: 450 | Protein: 35g | Carbs: 25g
                    </div>
                    <div class="fip-instru">
                        Click to flip back
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div class="menu-item">
                <div class="flipper">
                    <div class="front">
                <div class="item-image">
                    <img src="pic/BeefWellington.webp" width="300" height="275" alt="BeefWellington">
                </div>
                <h3 class="item-title"> Beef Wellington </h3>
                <span class="item-price">$22</span>
                <h4 class="ClickHere"> click for info </h4>
            </div>
            <div class="Back">
                <div class="Back-card">
                    <div class="item-title">Beef Wellington </div>
                    <div class="Food-info">
                        Ingredients: Beef tenderloin, puff pastry, mushrooms, shallots, herbs (thyme, parsley), prosciutto or ham, Dijon mustard, egg wash.
                    </div>
                    <div class="Nutrition-info">
                        Calories: 700 | Protein: 45g | Carbs: 30g
                    </div>
                    <div class="fip-instru">
                        Click to flip back
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div class="menu-item">
                <div class="flipper">
                    <div class="front">
                <div class="item-image">
                    <img src="pic/BakedStuffedLobster.webp" width="300" height="275" alt="Baked Stuffed Lobster">
                </div>
                <h3 class="item-title"> Baked Stuffed Lobster </h3>
                <span class="item-price">$40</span>
                <h4 class="ClickHere"> click for info </h4>
            </div>
            <div class="Back">
                <div class="Back-card">
                    <div class="item-title">Baked Stuffed Lobster</div>
                    <div class="Food-info">
                        Ingredients: Lobster, butter, breadcrumbs, herbs (likely parsley), garlic, lemon, possibly white wine or brandy.
                    </div>
                    <div class="Nutrition-info">
                        Calories: 400 | Protein: 35g | Carbs: 8g
                    </div>
                    <div class="fip-instru">
                        Click to flip back
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div class="menu-item">
                <div class="flipper">
                    <div class="front">
                <div class="item-image">
                    <img src="pic/Herb BroiledChickenRecipe.webp" width="300" height="275" alt="Herb Broiled Chicken">
                </div>
                <h3 class="item-title"> Herb Broiled Chicken</h3>
                <span class="item-price">$27</span>
                <h4 class="ClickHere"> click for info </h4>
            </div>
            <div class="Back">
                <div class="Back-card">
                    <div class="item-title">Herb Broiled Chicken</div>
                    <div class="Food-info">
                        Ingredients: Whole chicken, olive oil, salt, pepper, herbs, garlic, parsley, cilantro, oregano, red pepper flakes, vinegar, lemon.
                    </div>
                    <div class="Nutrition-info">
                        (per serving, 1/4 chicken):
                        Calories: 350 | Protein: 45g | Carbs: 4g
                    </div>
                    <div class="fip-instru">
                        Click to flip back
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div class="menu-item">
                <div class="flipper">
                    <div class="front">
                <div class="item-image">
                    <img src="pic/SeafoodPaellaWithPorkandChicken.webp" width="300" height="275" alt="SeafoodPaellaWithPorkandChicken">
                </div>
                <h3 class="item-title"> Seafood Paella with Pork and Chicken </h3>
                <span class="item-price">$26</span>
                <h4 class="ClickHere"> click for info </h4>
            </div>
            <div class="Back">
                <div class="Back-card">
                    <div class="item-title">Seafood Paella with Pork and Chicken</div>
                    <div class="Food-info">
                        Ingredients: Short-grain rice, saffron, olive oil, onions, garlic, bell peppers,
                         tomatoes, green peas, shrimp, mussels, white wine, fish or chicken stock, parsley, salt, pepper, paprika.
                    </div>
                    <div class="Nutrition-info">
                        Calories: 500 | Protein: 70g | Carbs: 25g
                    </div>
                    <div class="fip-instru">
                        Click to flip back
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div class="menu-item">
                <div class="flipper">
                    <div class="front">
                <div class="item-image">
                    <img src="pic/RoastedRackofLamb.webp" width="300" height="275" alt="RoastedRackofLamb">
                </div>
                <h3 class="item-title"> Roasted Rack of Lamb </h3>
                <span class="item-price">$26.50</span>
                <h4 class="ClickHere"> click for info </h4>
            </div>
            <div class="Back">
                <div class="Back-card">
                    <div class="item-title">Roasted Rack of Lamb </div>
                    <div class="Food-info">
                        Ingredients: Rack of lamb, herbs (rosemary, thyme, parsley), breadcrumbs, Dijon mustard, garlic, olive oil.
                    </div>
                    <div class="Nutrition-info">
                        (per 2-3 chops):
                        Calories: 400 | Protein: 40g | Carbs: 8g
                    </div>
                    <div class="fip-instru">
                        Click to flip back
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End point for dessert -->

            </div>
        </div>


                <!-- Dessert Menu -->
                <div class="menu-section">
                    <h2 class="section-title"> Dessert </h2>
        <div class="menu-table">
                        <div class="menu-item">
                            <div class="flipper">
                                <div class="front">
                        <div class="item-image">
                            <img src="pic/BakedAlaska.webp" width="300" height="275" alt="BakedAlaska">
                        </div>
                        <h3 class="item-title"> Baked Alaska </h3>
                        <span class="item-price">$8</span>
                        <h4 class="ClickHere"> click for info </h4>
                    </div>
                    <div class="Back">
                        <div class="Back-card">
                            <div class="item-title">Baked Alaska</div>
                            <div class="Food-info">
                                Ingredients: Egg whites, sugar, vanilla extract, pink strawberry or raspberry ice cream, 
                                vanilla ice cream, sponge cake, and a touch of liqueur.
                            </div>
                            <div class="Nutrition-info">
                                Calories: 400 | Protein: 8g | Carbs: 55g
                            </div>
                            <div class="fip-instru">
                                Click to flip back
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <!-- new item -->
                    <div class="menu-item">
                        <div class="flipper">
                            <div class="front">
                        <div class="item-image">
                            <img src="pic/CaramelFlan.webp" width="300" height="275" alt="CaramelFlan">
                        </div>
                        <h3 class="item-title"> Caramel Flan </h3>
                        <span class="item-price">$9</span>
                        <h4 class="ClickHere"> click for info </h4>
                    </div>
                    <div class="Back">
                        <div class="Back-card">
                            <div class="item-title">Caramel Flam</div>
                            <div class="Food-info">
                                Ingredients: Heavy cream, egg yolks, sugar, vanilla bean or extract.
                            </div>
                            <div class="Nutrition-info">
                                Calories: 300 | Protein: 5g | Carbs: 30g
                            </div>
                            <div class="fip-instru">
                                Click to flip back
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="menu-item">
                        <div class="flipper">
                            <div class="front">
                        <div class="item-image">
                            <img src="pic/LemonCremeBrulee.webp" width="300" height="275" alt="LemonCremeBrulee">
                        </div>
                        <h3 class="item-title"> Lemon Creme Brulee </h3>
                        <span class="item-price">$10</span>
                        <h4 class="ClickHere"> click for info </h4>
                    </div>
                    <div class="Back">
                        <div class="Back-card">
                            <div class="item-title">Lemon Creme Brulee</div>
                            <div class="Food-info">
                                Heavy cream , Egg yolks, Granulated sugar, Vanilla extract,Fresh lemon juice, 
                                Lemon zest, Salt, Turbinado 
                            </div>
                            <div class="Nutrition-info">
                                Calories: 380 | Protein: 5g | Carbs: 32g
                            </div>
                            <div class="fip-instru">
                                Click to flip back
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="menu-item">
                        <div class="flipper">
                            <div class="front">
                                <div class="item-image">
                            <img src="pic/DarkChocolateMoltenLavacake.webp" width="300" height="275" alt="DarkChocolateMoltenLavacake">
                        </div>
                        <h3 class="item-title"> Dark Chocolate Molten Lava cake </h3>
                        <span class="item-price">$7</span>
                        <h4 class="ClickHere"> click for info </h4>
                    </div>
                    <div class="Back">
                        <div class="Back-card">
                            <div class="item-title">Dark Chocolate Molten Lava cake</div>
                            <div class="Food-info">
                                Ingredients: Dark chocolate, butter, eggs, sugar, flour, vanilla extract, vanilla ice cream.
                            </div>
                            <div class="Nutrition-info">
                                Calories: 270 | Protein: 40g | Carbs: 15g
                            </div>
                            <div class="fip-instru">
                                Click to flip back
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="menu-item">
                        <div class="flipper">
                            <div class="front">
                                <div class="item-image">
                            <img src="pic/LemonBlueberryScones.webp" width="300" height="275" alt="LemonBlueberryScones">
                        </div>
                        <h3 class="item-title"> Lemon Blueberry Scones </h3>
                        <span class="item-price">$5</span>
                        <h4 class="ClickHere"> click for info </h4>
                    </div>
                    <div class="Back">
                        <div class="Back-card">
                            <div class="item-title">Lemon Blueberry Scones</div>
                            <div class="Food-info">
                                Ingredients: Flour, butter, sugar, baking powder, eggs, c
                                ream or milk, vanilla, blueberries, lemon (zest and juice), powdered sugar.
                            </div>
                            <div class="Nutrition-info">
                                Calories: 300 | Protein: 5g | Carbs: 40g
                            </div>
                            <div class="fip-instru">
                                Click to flip back
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="menu-item">
                        <div class="flipper">
                            <div class="front">
                                <div class="item-image">
                            <img src="pic/NewYorkChessecake.avif" width="300" height="275" alt="NewYorkChessecake">
                        </div>
                        <h3 class="item-title"> New York Chessecake </h3>
                         
                        <span class="item-price">$8</span>
                        <h4 class="ClickHere"> click for info </h4>
                    </div>
                    <div class="Back">
                        <div class="Back-card">
                            <div class="item-title">New York Chessecake </div>
                            <div class="Food-info">
                                Cream cheese (the primary ingredient, providing the dense texture), Sugar,Eggs,
                                Heavy cream,Vanilla extractGraham cracker crust (typically made with graham crackers, butter, and sugar)
                            </div>
                            <div class="Nutrition-info">
                                Calories: 500 | Protein: 9g | Carbs: 30g
                            </div>
                            <div class="fip-instru">
                                Click to flip back
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="menu-item">
                        <div class="flipper">
                            <div class="front">
                                <div class="item-image">
                            <img src="pic/HolyCannoli_s.avif" width="300" height="275" alt="HolyCannoli's">
                        </div>
                        <h3 class="item-title"> Holy Cannoli's </h3>
                         
                        <span class="item-price">$11</span>
                        <h4 class="ClickHere"> click for info </h4>
                    </div>
                    <div class="Back">
                        <div class="Back-card">
                            <div class="item-title">YHoly Cannoli's </div>
                            <div class="Food-info">
                                Ingredients: Chocolate cake, sweetened cream/mascarpone filling, whipped cream, cherry garnish
                            </div>
                            <div class="Nutrition-info">
                                Calories: 500 | Protein: 8g | Carbs: 50g
                            </div>
                            <div class="fip-instru">
                                Click to flip back
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="menu-item">
                        <div class="flipper">
                            <div class="front">
                                <div class="item-image">
                            <img src="pic/StrawBerryChessecake.avif" width="300" height="275" alt="StrawBerryChessecake">
                        </div>
                        <h3 class="item-title"> StrawBerry Chessecake </h3>
                        <span class="item-price">$8</span>
                        <h4 class="ClickHere"> click for info </h4>
                    </div>
                    <div class="Back">
                        <div class="Back-card">
                            <div class="item-title">StrawBerry Chessecake </div>
                            <div class="Food-info">
                                Cream cheese, sugar, eggs, vanilla extract, graham crackers, butter, 
                                fresh strawberries, heavy cream, sour cream (sometimes), cornstarch (for glazes), lemon juice
                            </div>
                            <div class="Nutrition-info">
                                Calories: 500 | Protein: 9g | Carbs: 35g
                            </div>
                            <div class="fip-instru">
                                Click to flip back
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of dessert  -->
                    </div>
                </div>

                <!-- Kids Meal -->
                <div class="menu-section">
                    <h2 class="section-title">Kids Meal</h2>
                    <div class="menu-table">
                        <div class="menu-item">
                            <div class="flipper">
                                <!-- Front side -->
                                <div class="front">
                                    <div class="item-image">
                                        <img src="pic/grilledcheese.jpg" width="300" height="275" alt="FrenchToast">
                                    </div>
                                    <h3 class="item-title">Grilled Cheese</h3> 
                                    <span class="item-price">$12.50</span>
                                    <h4 class="ClickHere"> click for info </h4>
                                </div>
                                <!-- Back side -->
                                <div class="Back">
                                    <div class="Back-card">
                                        <div class="item-title">Grilled Cheese</div>
                                        <div class="Food-info">
                                            <p>(5 pieces of toast per serving)</p>   <!-- Change info  -->
                                            Ingredients: Bread challah, eggs, milk, vanilla, cinnamon, butter, maple syrup, strawberries, blueberries.
                                        </div>
                                        <div class="Nutrition-info">
                                            Calories: 450 | Protein: 10g | Carbs: 20g
                                        </div>
                                        <div class="fip-instru">
                                            Click to flip back
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu-item">
                            <div class="flipper">
                                <!-- Front side -->
                                <div class="front">
                                    <div class="item-image">
                                        <img src="pic/TendersFries.jpg" width="300" height="275" alt="TendersFries">
                                    </div>
                                    <h3 class="item-title">Chicken Tenders with Fries </h3> 
                                    <span class="item-price">$12.50</span>
                                    <h4 class="ClickHere"> click for info </h4>
                                </div>
                                <!-- Back side -->
                                <div class="Back">
                                    <div class="Back-card">
                                        <div class="item-title">Grilled Cheese</div>
                                        <div class="Food-info">
                                            <p>(5 pieces of toast per serving)</p>  <!-- Change info  -->
                                            Ingredients: Bread challah, eggs, milk, vanilla, cinnamon, butter, maple syrup, strawberries, blueberries.
                                        </div>
                                        <div class="Nutrition-info">
                                            Calories: 450 | Protein: 10g | Carbs: 20g
                                        </div>
                                        <div class="fip-instru">
                                            Click to flip back
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu-item">
                            <div class="flipper">
                                <!-- Front side -->
                                <div class="front">
                                    <div class="item-image">
                                        <img src="pic/pepperoni-pizza.webp" width="300" height="275" alt="Pizza">
                                    </div>
                                    <h3 class="item-title">Pizza Slice </h3> 
                                    <span class="item-price">$12.50</span>
                                    <h4 class="ClickHere"> click for info </h4>
                                </div>
                                <!-- Back side -->
                                <div class="Back">
                                    <div class="Back-card">
                                        <div class="item-title">Pizza Slice</div>
                                        <div class="Food-info">
                                            <p>(5 pieces of toast per serving)</p>   <!-- Change info  -->
                                            Ingredients: Bread challah, eggs, milk, vanilla, cinnamon, butter, maple syrup, strawberries, blueberries.
                                        </div>
                                        <div class="Nutrition-info">
                                            Calories: 450 | Protein: 10g | Carbs: 20g
                                        </div>
                                        <div class="fip-instru">
                                            Click to flip back
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
                <!-- End of kids meal meu -->

        <!-- Drinks -->
        <div class="menu-section">
            <h2 class="section-title"> Drinks </h2>
                <div class="menu-table">
                <div class="menu-item">
                    <div class="flipper">
                        <div class="front">
                <div class="item-image">
                    <img src="pic/beverages-soft-drinks.jpg.webp" width="300" height="275" alt="Soft drink">
                </div>
                <h3 class="item-title"> Soft Drink </h3>
                <span class="item-price">$3</span>
                <h4 class="ClickHere"> click for info </h4>

            </div>
            <div class="Back">
                <div class="Back-card">
                    <div class="item-title">Soft Drink</div>
                    <div class="Food-info">
                        Cola - Cola , Dr.Pepper, Sprite, Fanta, RootBeer, Pepsi
                        <p>(16 oz cup)</p>
                    </div>
                    <div class="fip-instru">
                        Click to flip back
                    </div>
                </div>
            </div>
        </div>
    </div>
            <!-- new item -->
            <div class="menu-item">
                    <div class="flipper">
                        <div class="front">
                            <div class="item-image">
                    <img src="pic/beverages-sunset-lemonade.jpg.webp" width="300" height="275" alt="Sunset Lemonade">
                </div>
                <h3 class="item-title"> Sunset Lemonade </h3>
                <span class="item-price">$6.50</span>
                <h4 class="ClickHere"> click for info </h4>
            </div>
            <div class="Back">
                <div class="Back-card">
                    <div class="item-title">Sunset Lemonade</div>
                    <div class="Food-info">
                        Ingredients: Fruit juices (likely orange/pineapple), grenadine for the red color, ice, orange garnish
                        <p>(16 oz cup)</p>
                    </div>
                    <div class="Nutrition-info">
                        Calories: 175 | Protein: 0g | Carbs: 30g
                    </div>
                    <div class="fip-instru">
                        Click to flip back
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div class="menu-item">
                    <div class="flipper">
                        <div class="front">
                <div class="item-image">
                    <img src="pic/beverages-raspberry-flavored-lemonade.jpg.webp" width="300" height="275" alt="raspberry lemonade">
                </div>
                <h3 class="item-title"> Raspberry lemonade </h3>
                <span class="item-price">$6.50</span>
                <h4 class="ClickHere"> click for info </h4>

            </div>
            <div class="Back">
                <div class="Back-card">
                    <div class="item-title">Raspberry lemonade </div>
                    <div class="Food-info">
                        Ingredients: Lemonade, rasberry juice , slice of lemon
                        <p>(16 oz cup)</p>
                    </div>
                    <div class="Nutrition-info">
                        
                        Calories: 380 | Protein: 4g | Carbs: 50g
                    </div>
                    <div class="fip-instru">
                        Click to flip back
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div class="menu-item">
                <div class="flipper">
                    <div class="front">
                <div class="item-image">
                    <img src="pic/beverages-dr-pepper-creamsoda.jpg.webp" width="300" height="275" alt="Dr.Pepper creamsoda ">
                </div>
                <h3 class="item-title"> Dr.Pepper CreamSoda </h3>
                <span class="item-price">$8</span>
                <h4 class="ClickHere"> click for info </h4>
            </div>
            <div class="Back">
                <div class="Back-card">
                    <div class="item-title">Dr.Pepper CreamSoda</div>
                    <div class="Food-info">
                        Ingredients: Dr. Pepper, Vanilla icecream, chocolate chips, whip cream, and cherry
                        <p>(16 oz cup)</p>
                    </div>
                    <div class="Nutrition-info">
                        Calories: 270 | Protein: 40g | Carbs: 15g
                    </div>
                    <div class="fip-instru">
                        Click to flip back
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div class="menu-item">
                <div class="flipper">
                    <div class="front">
                <div class="item-image">
                    <img src="pic/beverages-root-beer-float.jpg.webp" width="300" height="275" alt="Root Beer float">
                </div>
                <h3 class="item-title"> Root Beer Float </h3>
                <span class="item-price">$10</span>
                <h4 class="ClickHere"> click for info </h4>
            </div>
            <div class="Back">
                <div class="Back-card">
                    <div class="item-title"> Root Beer Float </div>
                    <div class="Food-info">
                        Ingredients: Root beer soda, vanilla ice cream
                        <p>(16 oz cup)</p>
                    </div>
                    <div class="Nutrition-info">
                        Calories: 300 | Protein: 3g | Carbs: 50g
                    </div>
                    <div class="fip-instru">
                        Click to flip back
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div class="menu-item">
                <div class="item-image">
                    <img src="pic/red-bull-can_0.jpg.webp" width="300" height="275" alt="RedBull">
                </div>
                <h3 class="item-title"> Rell Bull </h3>
                <span class="item-price">$5</span>
            </div>
            <div class="menu-item">
                <div class="flipper">
                    <div class="front">
                <div class="item-image">
                    <img src="pic/PinaColada.webp" width="300" height="275" alt="PinaColada">
                </div>
                <h3 class="item-title"> Virgin Pina Colada </h3>
                <span class="item-price">$11</span>
                <h4 class="ClickHere"> click for info </h4>
            </div>
            <div class="Back">
                <div class="Back-card">
                    <div class="item-title">Virgin Pina Colada</div>
                    <div class="Food-info">
                        Ingredients: Coconut cream, pineapple juice, pineapple garnish, cherry
                        <p>(13 oz cup)</p>
                    </div>
                    <div class="Nutrition-info">
                        Calories: 400 | Protein: 2g | Carbs: 28g
                    </div>
                    <div class="fip-instru">
                        Click to flip back
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div class="menu-item">
                <div class="flipper">
                    <div class="front">
                <div class="item-image">
                    <img src="pic/PinkPanther.jpg" width="300" height="275" alt="PinkPanther">
                </div>
                <h3 class="item-title"> Virgin Pink Panther </h3>
                <span class="item-price">$12</span>
                <h4 class="ClickHere"> click for info </h4>

            </div>
            <div class="Back">
                <div class="Back-card">
                    <div class="item-title">Virgin Pink Panther </div>
                    <div class="Food-info">
                        Ingredients: coconut cream, pineapple juice, strawberry or fruit puree for color, pineapple garnish
                        <p>(13 oz cup)</p>
                    </div>
                    <div class="Nutrition-info">
                        Calories: 300 | Protein: 2g | Carbs: 35g
                    </div>
                    <div class="fip-instru">
                        Click to flip back
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- End of Drinks Menu -->
</div>
</div>


                    <!-- Start of Bar Menu -->
                    <div class="menu-section">
                        <h2 class="section-title">Bar (+21)</h2>
                        <div class="menu-table">
                            <div class="menu-item">
                                <div class="flipper">
                                    <!-- Front side -->
                                    <div class="front">
                                        <div class="item-image">
                                            <img src="pic/PinaColada.webp" width="300" height="275" alt="FrenchToast">
                                        </div>
                                        <h3 class="item-title">Pina Colada</h3> 
                                        <span class="item-price">$12.50</span>
                                        <h4 class="ClickHere"> click for info </h4>
                                    </div>
                                    <!-- Back side -->
                                    <div class="Back">
                                        <div class="Back-card">
                                            <div class="item-title">Pina Colada</div>
                                            <div class="Food-info">
                                                <p>(1 bottle - 16oz)</p>
                                                ngredients: Coconut cream, Rum, pineapple juice, pineapple garnish, cherry
                                            </div>
                                            <div class="fip-instru">
                                                Click to flip back
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-item">
                                <div class="flipper">
                                    <!-- Front side -->
                                    <div class="front">
                                        <div class="item-image">
                                            <img src="pic/PinkPanther.jpg" width="300" height="275" alt="TendersFries">
                                        </div>
                                        <h3 class="item-title">Pink Panther </h3> 
                                        <span class="item-price">$12.50</span>
                                        <h4 class="ClickHere"> click for info </h4>
                                    </div>
                                    <!-- Back side -->
                                    <div class="Back">
                                        <div class="Back-card">
                                            <div class="item-title">Pink Panther</div>
                                            <div class="Food-info">
                                                <p>(13 oz cup)</p>
                                                Ingredients: coconut cream, Rum, pineapple juice, strawberry or fruit puree for color, pineapple garnish
                                            </div>
                                            <div class="fip-instru">
                                                Click to flip back
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-item">
                                <div class="flipper">
                                    <!-- Front side -->
                                    <div class="front">
                                        <div class="item-image">
                                            <img src="pic/Beer.webp" width="300" height="275" alt="Pizza">
                                        </div>
                                        <h3 class="item-title">Beers </h3> 
                                        <span class="item-price">$12.50</span>
                                        <h4 class="ClickHere"> click for info </h4>
                                    </div>
                                    <!-- Back side -->
                                    <div class="Back">
                                        <div class="Back-card">
                                            <div class="item-title">Beers </div>
                                            <div class="Food-info">
                                                <p>(16 oz cups)</p>
                                                Types: Budweiser , Blue Moon , Samuel Adam , Corona , Heineken , Coors Light 
                                            </div>
                                            <div class="fip-instru">
                                                Click to flip back
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    </div>
                    <!-- End of Bar -->


    <!-- End  -->



        <!-- script to flip the cards around -->
        <script>
            // Wait for the DOM to fully load
            document.addEventListener('DOMContentLoaded', function() {
                // Find all menu items on the page
                const menuItems = document.querySelectorAll('.menu-item');
                
                // Add click event to each menu item
                menuItems.forEach(item => {
                    item.addEventListener('click', function() {
                        // Toggle the 'flipped' class
                        this.classList.toggle('flipped');
                    });
                });
            });
        </script>

</body>