{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block styles %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}" />
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Khula:wght@300;400;600;700;800&family=Lusitana:wght@400;700&family=Mrs+Sheppards&family=Noto+Sans+Khmer:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Tiro+Tamil:ital@0;1&display=swap"
  rel="stylesheet"
/>
{% endblock %}

{% block content %}

<!-- Flash Message Display -->
<!-- {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="flash-message {{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %} -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  <div class="flash-message {{ messages[-1][0] }}">
    {{ messages[-1][1] }}
  </div>
{% endif %}
{% endwith %}

<div class="content">
    <div class="options upper">
        <i class="fa-solid fa-crown"></i>
        <p class="ocean">{{ user.name }}'s Profile</p>
    </div>
    <div class="options upper">
        <img src="{{ url_for('static', filename='images/ocean.jpg') }}" alt="profile image" width="100%" height="400px">
    </div>
    <br>
    <div class="options">
        <button class="expand" id="about">
            <p>About Me</p>
            <i class="fa-solid fa-caret-down"></i>
        </button>
        <form method="post" action="{{ url_for('profile.profile') }}" id="profile" class="profile">
            <input type="hidden" name="ptype" value="profile">
            <input type="text" id="name" name="name" placeholder="Name" value="{{ user.name or '' }}" required>
            <input type="text" id="email" name="email" placeholder="Email" value="{{ user.email }}" disabled>
            <input type="number" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="Phone Number" value="{{ user.phone or '' }}" inputmode='numeric' required>
            <input type="text" id="address" name="address" placeholder="Address Line 1" value="{{ user.address_line1 or '' }}" required>
            <input type="text" id="address2" name="address2" placeholder="Address Line 2 (Optional)" value="{{ user.address_line2 or ''}}">
            <input type="text" id="city" name="city" placeholder="City" value="{{ user.city or '' }}" required>
            <input type="text" id="state" name="state" placeholder="State" value="{{ user.state or '' }}" required>
            <input type="number" id="zipcode" name="zipcode" placeholder="Zipcode" value="{{ user.zipcode or '' }}" required>
            <div class="save">
                <input type="submit" class="sub" value="Update Profile">
            </div>
        </form>
        <button class="expand" id="loyalty">
            <p>Loyalty Program</p>
            <i class="fa-solid fa-caret-down"></i>
        </button>  
        <div class="rewards" id="rewards">
            <div class="description">
                <p>Membership Status</p>
                <p>Bronze</p>
            </div>
            <div class="description">
                <p>Member Since</p>
                <p>{{ user.id|string }}</p>
            </div>
            <br>
            <br>
            <div class="description">
                <p>Rewards Points</p>
                <p>0</p>
            </div>
            <div class="description">
                <p class="">Next Milestone</p>
                <p class="">100 Points</p>
            </div>
            <div class="description">
                <p></p>
                <p>Free Night Stay</p>
            </div>
        </div>
        <button class="expand" id="notif">
            <p>Notifications</p>
            <i class="fa-solid fa-caret-down"></i>
        </button>  
        <form method="post" id="notifications" class="notifications">
            <input type="hidden" name="ptype" value="notifications">
            <div class="ptop subtext">
                <input type="checkbox" id="eremind" name="eremind"  {% if user.email_notifications == YesNo.Y%}checked{% endif %}>
                <label for="eremind">I want to receive email reminders of my upcoming bookings.</label>
            </div>
            <div class="pbot subtext">
                <input type="checkbox" id="tremind" name="tremind" {% if user.text_notifications == YesNo.Y%}checked{% endif %}>
                <label for="tremind">I want to receive text reminders of my upcoming bookings.</label>
            </div>
            <div class="save">
                <input type="submit" class="sub" value="Save">
            </div>
        </form>    
        <button class="expand" id="change-pass">
            <p>Change Password</p>
            <i class="fa-solid fa-caret-down"></i>
        </button>
        <form method="post" action="{{ url_for('profile.profile') }}" id="privacy" class="privacy">
            <input type="hidden" name="ptype" value="password_change">
            <input type="password" id="cur_pass" name="cur_pass" placeholder="Current Password" required>
            <input type="password" id="new_pass" name="new_pass" placeholder="New Password" required>
            <div class="save">
                <input type="submit" class="sub" value="Update Password">
            </div>
        </form>
        <button class="expand" id="delete-account">
            <p>Delete Account</p>
            <i class="fa-solid fa-caret-down"></i>
        </button>
        <div class="deletion">
            <div class="description delete">
                <div class="">
                    <p class="">Are you sure you want to delete your account?</p>
                    <p class="">This action cannot be undone.</p>
                </div>
                <form method="post" action="{{ url_for('profile.profile') }}">
                    <input type="hidden" name="ptype" value="account_deletion">
                    <button type="submit" class="sub">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function(){
        const items = document.querySelectorAll('.expand');
        first_login = "{{ user.first_login }}"
        console.log(first_login)
        if(first_login==='YesNo.Y'){
            console.log("I am here!!!");
            document.querySelectorAll('.profile').forEach(i=>i.style.display='flex');  
        }
        text_notifications = "{{ user.text_notifications}}"
        items.forEach(item =>{
            item.addEventListener("click", function(){
                document.querySelectorAll('.view').forEach(i=>{i.style.borderColor='#c0bfbf';});
                if(this.id==='about'){
                    document.querySelectorAll('.profile').forEach(i=>{(i.style.display==='' || i.style.display==='none') ? i.style.display='flex' : i.style.display='none';});
                    document.querySelectorAll('.rewards').forEach(i=>{i.style.display='none';});
                    document.querySelectorAll('.notifications').forEach(i=>{i.style.display='none';});
                    document.querySelectorAll('.privacy').forEach(i=>{i.style.display='none';});
                    document.querySelectorAll('.deletion').forEach(i=>{i.style.display='none';});
                } else if(this.id==='loyalty'){
                    document.querySelectorAll('.profile').forEach(i=>{i.style.display='none';});
                    document.querySelectorAll('.rewards').forEach(i=>{(i.style.display==='' || i.style.display==='none') ? i.style.display='flex' : i.style.display='none';});
                    document.querySelectorAll('.notifications').forEach(i=>{i.style.display='none';});
                    document.querySelectorAll('.privacy').forEach(i=>{i.style.display='none';});
                    document.querySelectorAll('.deletion').forEach(i=>{i.style.display='none';});
                } else if(this.id==='notif'){
                    document.querySelectorAll('.profile').forEach(i=>{i.style.display='none';});
                    document.querySelectorAll('.rewards').forEach(i=>{i.style.display='none';});
                    document.querySelectorAll('.notifications').forEach(i=>{(i.style.display==='' || i.style.display==='none') ? i.style.display='flex' : i.style.display='none';});
                    document.querySelectorAll('.privacy').forEach(i=>{i.style.display='none';});
                    document.querySelectorAll('.deletion').forEach(i=>{i.style.display='none';});
                } else if(this.id==='change-pass'){
                    document.querySelectorAll('.profile').forEach(i=>{i.style.display='none';});
                    document.querySelectorAll('.rewards').forEach(i=>{i.style.display='none';});
                    document.querySelectorAll('.notifications').forEach(i=>{i.style.display='none';});
                    document.querySelectorAll('.privacy').forEach(i=>{(i.style.display==='' || i.style.display==='none') ? i.style.display='flex' : i.style.display='none';});
                    document.querySelectorAll('.deletion').forEach(i=>{i.style.display='none';});
                } else if(this.id==='delete-account'){
                    console.log('deletion');
                    document.querySelectorAll('.profile').forEach(i=>{i.style.display='none';});
                    document.querySelectorAll('.rewards').forEach(i=>{i.style.display='none';});
                    document.querySelectorAll('.notifications').forEach(i=>{i.style.display='none';});
                    document.querySelectorAll('.privacy').forEach(i=>{i.style.display='none';});
                    document.querySelectorAll('.deletion').forEach(i=>{(i.style.display==='' || i.style.display==='none') ? i.style.display='flex' : i.style.display='none';});
                }
            })
        })
    });
</script>

<style>
.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}
.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
.action {
    background-color: #f2feff;
    color: #22919b;
    border: 1px solid #d4f8fb;
}
</style>
{% endblock %}