{% extends 'base.html' %}

{% block title %} Reserve {% endblock %}

{% block styles %} 
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


<link rel="stylesheet" href="../static/css/dates.css" />
<link rel="stylesheet" href="../static/css/reserve.css" />
{% endblock %}

{% block content %}

<div class="">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="flash-message {{ messages[-1][0] }}">
        {{ messages[-1][1] }}
      </div>
    {% endif %}
  {% endwith %}
</div>

<div class="image-container">
    <p>Experience Luxury by the Ocean</p>
</div>

<div class="all-sections">
 <form method='post' action="{% if modifying %}{{url_for('bookings.save',bid=bid)}} {% else %} {{url_for('payment')}} {% endif %}" id="reservation-details">
    <input type="hidden" name="rid" value="{{rid}}">
    <input type="hidden" name="location_type" value="{{location_type}}">
    <input type="hidden" name="startdate" value="{{startdate}}">
    <input type="hidden" name="enddate" value="{{ enddate}}">
    <div class="section">
        <p class="title">Overview</p>
        <div class="line">
            <div class="title-info">
                <p class="subtitle">Ocean Vista</p>
                <p class="subtitle-info">{{room.address}}</p>
            </div>
            <div class="row">
                <div class="title-info">
                    <p class="subtitle">Check-In</p>
                    <p class="subtitle-info">{{startdate}}</p>
                </div>
                <div class="title-info">
                    <p class="subtitle">Check-Out</p>
                    <p class="subtitle-info">{{enddate}}</p>
                </div>
                <div class="title-info">
                    <p class="subtitle">Length of Stay</p>
                    <p class="subtitle-info">{{duration+1}}{% if duration > 1 %} Days{% else %} Days{% endif %}, {{duration}}{% if duration > 1 %} Nights{% else %} Night{% endif %}</p>
                </div>
            </div>
        </div>
        <div class="title-info">
            <p class="subtitle">Room Details</p>
            <p class="subtitle-info">{{room[0].number_beds}}-Bedroom {{room[0].room_type.value}}
                {% if room[0].wheelchair_accessible==YesNo.Y %}
                    <span> (Wheelchair Accessible) </span>
                {% endif %}
                {% if room[0].balcony==YesNo.Y %}
                    <span> with Balcony</span>
                {% endif %}
                {% if room[0].ocean_view==YesNo.Y and room[0].city_view==YesNo.Y %}
                    <span> - Ocean View, City View</span>
                {% elif room[0].ocean_view==YesNo.Y %}
                    <span> - Ocean View</span>
                {% elif room[0].city_view==YesNo.Y %}
                    <span> - City View</span>
                {% endif %}
                {% if room[0].smoking==YesNo.N %}
                    <span>| Non-Smoking</span>
                {% endif %}
            </p>
        </div>
        <!-- <div class="check-date">
            <label for="startdate">Check-In Date: </label>
            <input type="text" id="startdate" class="" name="startdate" placeholder="Select Start Date">
        </div>
        <div class="check-date">
            <label for="enddate">Check-Out Date: </label>
            <input type="text" id="enddate" class="" name="enddate" placeholder="Select End Date" required> 
        </div> -->

        <div class="">
            <label for="rooms" class="subtitle">Number of Rooms: </label>
            <input type="number" id="rooms" name="rooms" value="{{rooms or 1}}" min="1" max="{{room.number_rooms}}" onchange="calcRate()" {% if modifying %} disabled {% endif %}>
            {% if not modifying %}
            <p class="cancel-policy">Maximum: {{room.number_rooms}}</p>
            {% endif %}
        </div>
        <div class="title-info">
            <p class="subtitle">Pricing</p>
            <p class="subtitle-info">Price per Room per Night: ${{room[0].rate}}</p>
            <p class="subtitle-info">Estimated Price: <span id="total-price">${{room[0].rate * duration}}</span></p>
        </div>

        <p class="subtitle">Special Requests</p>
        <textarea type="text" id="requests" name="requests" rows="4" placeholder="Please let us know if you have any special requests, and we will do our best to accommodate your needs.">{{requests or ''}}</textarea>

        <p class="cancel-policy">Guests may cancel their reservation at any time up to 48 hours before the check-in date without penalty. Cancellations made within 48 hours of check-in are non-refundable.</p>
    </div>
    <div class="section upper">
        <p class="title">Guest Information</p>
            <div class="guests">
                <label for="name" class="subtitle">Name:</label>
                <input type="text" id="name" name="name" placeholder="Name" value="{{ name or user.name or '' }}" required>
            </div>
            <div class="guests">
                <label for="email" class="subtitle">Email: </label>
                <input type="text" id="email" name="email" placeholder="Email" value="{{ email or user.email }}" required>
            </div>
            <div class="guests">
                <label for="phone" class="subtitle">Phone Number: </label>
                <input type="number" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="Phone Number" value="{{ phone or user.phone or '' }}" inputmode='numeric' required>
            </div>
            <div class="guests">
                <label for="guests" class="subtitle">Number of Guests per Room:</label>
                <input type="number" id="guests" name="guests" value="{{guests or 1}}" min="1" max="{{room[0].max_guests}}">
            </div>
    </div>
    {% if modifying %}
    <div class="buttons">
        <br>
        <input type="submit" class="submit-button1" value="Save Changes">
        <input type="hidden" id="canceled" name="canceled" value="false">
        <input type="button" class="submit-button1 yellow" value="Cancel Booking" onclick="cancelBooking()">

        <br>
    </div>
    {% else %}
    <input type="submit" class="submit-button" value="Proceed to Checkout">
    {% endif %}
</form>

{% if modifying %}
<div id='returned-room' class="returned-room">
    <a href="{{url_for('bookings.bookings')}}" class="submit-room-button">Cancel and Return to Bookings</a>
</div>
{% else %}
<form method="get" action="{{url_for('search.search')}}" id='returned-room' class="returned-room">
    <input type="hidden" name="location_type" id="returned-location" value="{{ request.args.get('location_type', '')}}">
    <input type="hidden" name="startdate" id="returned-startdate" value="{{ request.args.get('startdate', '') }}">
    <input type="hidden" name="enddate" id="returned-enddate" value="{{ request.args.get('enddate', '') }}">
    <button type="submit" class="submit-room-button">Cancel and Return to Search</button>
</form>
{% endif %}

</div>



<script>
    var duration = {{duration}};
    function calcRate(){
        var rate = {{room[0].rate}};
        var rooms = document.getElementById('rooms').value;
        var total = rate * rooms * duration;
        document.getElementById('total-price').textContent = '$'+total;
        document.getElementById('guests').max = room[0].max_guests * rooms > 0 ? room[0].max_guests * rooms : room[0].max_guests;
    }

    document.addEventListener('DOMContentLoaded',function(){
        calcRate();
    });

    // var startdate_url = "{{ request.args.get('startdate', '') or request.args.get('enddate','') }}";
    // var enddate_url = "{{ request.args.get('enddate', '') or request.args.get('startdate','') }}";


    function cancelBooking(){
        var c = confirm('Are you sure you want to cancel your booking? This action cannot be undone. Cancellations are non-refundable within 48 hours of the check-in date.');
        if(c){
            document.getElementById('canceled').value = 'true';
            console.log('canceled');
            document.getElementById('reservation-details').submit();
        }
    }
</script>

<!-- <script src="../static/js/dates.js"></script> -->


<style>
    .flash-message {
      padding: 10px;
      margin: 10px auto;
      border-radius: 5px;
      text-align: center;
      width: 100%;
    }
    .success {
      background-color: #d4edda;
      color: #155724;
      border: 1px solid #c3e6cb;
    }
    .error {
      background-color: #f8d7da;
      color: #721c24;
      border: 1px solid #f5c6cb;
    }
</style>
 
{% endblock %}

