{% extends 'base.html' %}
 
 {% block title %} Reserve {% endblock %}
 
 {% block styles %} 
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
 <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

 
 <link rel="stylesheet" href="../static/css/dates.css" />
 <link rel="stylesheet" href="../static/css/reserve.css" />
 {% endblock %}
 
 {% block content %}
 <form method='post' action={{url_for('payment')}} id="reservation-details" class="reservation-details">
    <p class="main-title">Booking Details</p>
    <div class="image-container">
        <img src="../static/images/outside.webp" width="1100px" height="550px" class="hotel-image">
    </div>
    <div class="section">
        <p class="title">Overview</p>
        <p>Ocean Vista</p>
        <p>{{room.address}}</p>
        <p>{{room[0].number_beds}}-Bedroom {{room[0].room_type.value}}
            {% if room[0].wheelchair_accessible==YesNo.Y %}
                <span> (Wheelchair Accessible) </span>
            {% endif %}
            {% if room[0].balcony==YesNo.Y %}
                <span> with Balcony</span>
            {% endif %}
            {% if room[0].ocean_view==YesNo.Y and room[0].city_view==YesNo.Y %}
                <span> - Ocean View, City View</span>
            {% elif room[0].ocean_view==YesNo.Y %}
                <span> - Ocean View</span>
            {% elif room[0].city_view==YesNo.Y %}
                <span> - City View</span>
            {% endif %}
            {% if room[0].smoking==YesNo.N %}
                <span>| Non-Smoking</span>
            {% endif %}
        </p>
        <div class="check-date">
            <label for="startdate">Check-In Date: </label>
            <input type="text" id="startdate" class="" name="startdate" placeholder="Select Start Date">
        </div>
        <div class="check-date">
            <label for="enddate">Check-Out Date: </label>
            <input type="text" id="enddate" class="" name="enddate" placeholder="Select End Date"> 
        </div>
        <div class="">
            <label for="rooms">Number of Rooms: </label>
            <input type="number" id="rooms" name="rooms" value="1" min="1" max="{{room.number_rooms}}" onchange="calcRate()">
        </div>
        <p>Total Price <span id="total-price">${{room[0].rate}}</span></p>
        <p>Cancellation Policy</p>
    </div>
    <div class="section">
        <p class="title">Modify Booking Details</p>
        <p>Special Requests</p>
        <textarea type="text" id="requests" name="requests" rows="4" placeholder="Please let us know if you have any special requests, and we will do our best to accommodate your needs."></textarea>
    </div>
    <div class="section">
        <p class="title">Guest Information</p>
        <div class="">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Name" value="{{ user.name or '' }}" required>
        </div>
        <div class="">
            <label for="email">Email: </label>
            <input type="text" id="email" name="email" placeholder="Email" value="{{ user.email }}" required>
        </div>
        <div class="">
            <label for="phone">Phone Number: </label>
            <input type="number" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="Phone Number" value="{{ user.phone or '' }}" inputmode='numeric' required>
        </div>
        <div class="">
            <label for="guests">Number of Guests:</label>
            <input type="number" id="guests" name="guests" value="1" min="1" max="{{room[0].max_guests}}">
        </div>
    </div>

    <input type="submit" class="submit-button" value="Proceed to Checkout">  
    <a href="{{ url_for('search') }}" class="cancel">Cancel and Return to Search</a>               
</form>

<script src="../static/js/dates.js"></script>


<script>
    function calcRate(){
        var rate = {{room[0].rate}};
        var rooms = document.getElementById('rooms').value;
        var total = rate * rooms;
        document.getElementById('total-price').textContent = '$'+total;
    }
 </script>
 
 {% endblock %}
