{% extends 'base.html' %}

{% block title %} Search {% endblock %}

{% block styles %} 

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>



<link rel="stylesheet" href="../static/css/search.css" />
<link rel="stylesheet" href="../static/css/dates.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock %}

{% block content %}

<div class="messages">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="options flash-message {{ messages[-1][0] }}">
        {{ messages[-1][1] }}
      </div>
    {% endif %}
  {% endwith %}
</div>

<div class="content">
    <div class="banner">
        <div class="main-title">
            <p class="title">Search For Rooms</p>
            <p class="subtitle">Discovery luxury accomodations by the oceanside. </p>
            <br>
        </div>
        <div class="options">
            <form method="get" action={{url_for('search')}} id="searchbar" class="searchbar">
                <input type="hidden" name="stype" value="apply_search">
                <div class="locations">
                    <div class="search-description">
                        <i class="fa-solid fa-location-dot" ></i>
                        <p>DESTINATION</p>
                    </div>
                    <select name="location-type" class="location-type" title="Select a Location">
                        <option disabled {% if not request.args.get('location-type') %} selected {% endif %}>Select Location</option>
                        {% if locations %}
                            {% for loc in locations %}
                              <option value="{{loc[0].value}}" {% if request.args.get('location-type')==loc[0].value %} selected {% endif %}>{{ loc[0].value }}</option>
                            {% endfor %}
                          {% endif %}
                    </select>
                </div>
                <div class="dates">
                    <div class="search-description">
                        <i class="fa-solid fa-calendar-days"></i>
                        <p class="nights" id="nights">PERIOD OF STAY</p>
                    </div>
                    <div class="date-selection">
                        <input type="text" id="startdate" class="startdate" name="startdate" placeholder="Select Start Date">
                        <input type="text" id="enddate" class="enddate" name="enddate" placeholder="Select End Date"> 
                    </div>
                </div>
                <div class="submit-area">
                    <button class="submit-button" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <p><span>Find</span> Rooms</p>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="options">
        <div class="filters ptop">
            <div class="button-area">
                <button class="icon" id="icon" onclick="toggle_filters()">
                    <i class="fa-solid fa-filter"></i>
                    <p>Filters</p>
                </button>
            </div>
            <form method="get" action={{url_for('search')}} id="filter-selection">
                <input type="hidden" name="stype" value="apply_filters">
                <input type="hidden" name="location-type" value="{{ request.args.get('location-type', '')}}">
                <input type="hidden" name="startdate" value="{{ request.args.get('startdate', '') }}">
                <input type="hidden" name="enddate" value="{{ request.args.get('enddate', '') }}">
                <select name="room_type" id="room_type" title="Select a Room Type">
                    <option value="" selected disabled>Room Type</option>
                    {% if roomtypes %}
                    {% for rt in roomtypes %}
                      <option value="{{rt[0].value}}" {% if request.args.get('room_type')==rt[0].value %} selected {% endif %}>{{ rt[0].value }}</option>
                    {% endfor %}
                    {% endif %}
                </select> 
                <select name="bed_type" id="bed_type" title="Select Bed Count">
                    <option value="" selected disabled>Bed Type</option>
                    <option value="1" {% if request.args.get('bed_type')=="1" %} selected {% endif %}>1 Bed</option>
                    <option value="2" {% if request.args.get('bed_type')=="2" %} selected {% endif %}>2 Beds</option>
                </select>   
                <select name="balcony" id="balcony" title="Select Balcony Preference">
                    <option value="" selected disabled>Balcony Preference</option>
                    <option value="balcony" {% if request.args.get('balcony')=='balcony' %} selected {% endif %}>Balcony</option>
                    <option value="no_balcony" {% if request.args.get('balcony')=='no_balcony' %} selected {% endif %}>No Balcony</option>
                </select>
                <select name="view" id="view" title="Select View">
                    <option value="" selected disabled>View</option>
                    <option value="ocean" {% if request.args.get('view')=='ocean' %} selected {% endif %}>Ocean View</option>
                    <option value="city" {% if request.args.get('view')=='city' %} selected {% endif %}>City View</option>
                </select>
                <select name="smoking_preference" id="smoking_preference" title="Select Smoking Preference">
                    <option value="" selected disabled>Smoking Preference</option>
                    <option value="Smoking" {% if request.args.get('smoking_preference')=="Smoking" %} selected {% endif %}>Smoking</option>
                    <option value="Non-Smoking" {% if request.args.get('smoking_preference')=="Non-Smoking" %} selected {% endif %}>Non-Smoking</option>
                </select>  
                <select name="accessibility" id="accessibility" title="Accessibility Needs">
                    <option value="" selected disabled>Accessibility Features</option>
                    <option value="wheelchair" {% if request.args.get('accessibility')=="wheelchair" %} selected {% endif %}>Wheelchair</option>
                </select>  
                <div class="pricing">
                    <label for="price_range">Maximum Rate</label>
                    <input type="range" name="price_range" id="price_range" min="10" max="700" step="1" value="700" oninput="price_update(this.value)">
                    <p id="price-display">700</p>
                </div>
                <div class="buttons">
                    <button class="sub-sm" type="button" onclick="close_filter()" title="Submit">
                        <!-- <i class="fa-solid fa-xmark"></i> -->
                        <p>Clear</p>
                    </button>
                    <input type="submit" class="sub-sm" onclick="submitAllForms(event)" value="Apply">                 
                </div>
            </form>
            <select name="sort-by" id="sort-by" title="Sort By" onchange="sort()">
                <option value="" selected disabled>Sort By</option>
                <option value="priceL">Price (Low to High)</option>
                <option value="priceH">Price (High to Low)</option>
            </select> 
        </div>
        <br>
        <div class="search-info">
            <p>{{rooms | length}} rooms found</p>
        </div>
        <div class="item-container">
        {% for room, number_rooms, min_rid in rooms %}
        <div class = "item">
            <script src="https://unpkg.com/focus-visible@5.0.2/dist/focus-visible.js" defer></script>
            <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
            <img src="{{room.img}}" alt="Room" id="thumbnail" onclick="openModal()">
            <i class="fa-solid fa-circle circle"></i>
            <i class="fa-regular fa-heart save" id="save-{{room.id}}"></i>
            <!-- <i class="fa-solid fa-heart unsave" id="unsave-{{room.id}}"></i> -->
            <div id="modelModal" class="modal">
                <span class="close" onclick="closeModal()">&times;</span>
                <model-viewer src="/static/assets/highly_detailed_opti_0225234237_texture.glb"
                    shadow-intensity="1"
                    camera-controls
                    auto-rotate
                    ar>
                </model-viewer>
            </div>
        
            <script>
                function openModal() {
                    document.getElementById("modelModal").style.display = "flex";
                }
                function closeModal() {
                    document.getElementById("modelModal").style.display = "none";
                }
            </script>
            
            <div class="description">
                <div class="details">
                    <div class="upper-details">
                        <p>{{room.number_beds}}-Bedroom {{room.room_type.value}}</p>
                        <div class="pricing-inner">
                            <p class="price">${{room.rate}}</p>
                            <p class="price-rate">USD / NIGHT</p>
                        </div>
                    </div>
                    <div class="inner-details">
                    {% if room.ocean_view==YesNo.Y %}
                        <div class="desc">
                            <i class="fa-solid fa-water"></i>
                            <p>Ocean View</p>
                        </div>
                    {% endif %}
                    {% if room.city_view==YesNo.Y %}
                        <div class="desc">
                            <i class="fa-solid fa-city"></i>
                            <p>City View</p>
                        </div>
                    {% endif %}
                    {% if room.balcony==YesNo.Y %}
                        <div class="desc">
                            <i class="fa-regular fa-building"></i>
                            <p>Balcony</p>
                        </div>
                    {% endif %}
                    {% if room.wheelchair_accessible==YesNo.Y %}
                        <div class="desc">
                            <i class="fa-solid fa-wheelchair"></i>
                            <p>Wheelchair Accessible</p>
                        </div>
                    {% endif %}
                    {% if room.smoking==YesNo.N %}
                        <div class="desc">
                            <i class="fa-solid fa-ban-smoking"></i>
                            <p>Non-Smoking</p>
                        </div>
                    {% endif %}
                </div>
                </div>       
            </div>
            {% set location_type = request.args.get('location-type', '') %}
            {% set startdate = request.args.get('startdate', '') %}
            {% set enddate = request.args.get('enddate', '') %}
            <form method="post" action="{{url_for('reserve')}}" id='submit-room' class="submit-room">
                <input type="hidden" name="rid" id="submitted-rid" value="{{ min_rid }}">
                <input type="hidden" name="location-type" id="submitted-location" value="{{ request.args.get('location-type', '')}}">
                <input type="hidden" name="startdate" id="submitted-startdate" value="{{ request.args.get('startdate', '') }}">
                <input type="hidden" name="enddate" id="submitted-enddate" value="{{ request.args.get('enddate', '') }}">
                <button type="submit" class="submit-room-button">Book</button>
            </form>
        </div>
        <br>
        <br>
        {% endfor %}
    </div>
    </div> 
</div>

<script>
    function close_filter(){
        let filters = document.getElementById("filter-selection").style.display="none";
        let filter = ['room_type','bed_type', 'view', 'balcony','smoking_preference','accessibility','price_range']
        let url = new URL(window.location.href);
        url.searchParams.delete("apply_filters")
        for(let i=0; i<filter.length; i++){
            url.searchParams.delete(filter[i])
        }
        window.location.href = url.toString();
    }
    function price_update(val){
        document.getElementById("price-display").innerHTML = val;
    }
    function toggle_filters() {
        (document.getElementById("filter-selection").style.display ==='none' || document.getElementById("filter-selection").style.display ==='') ? document.getElementById("filter-selection").style.display = 'flex' : document.getElementById("filter-selection").style.display = 'none';
    }

    function sort(){
        let val = document.getElementById('sort-by').value;
        if(val){
            let url = new URL(window.location.href);
            url.searchParams.set("sort-by",val);
            window.location.href = url.toString();
        }
    }

    document.addEventListener("click", function(event){
        let filterForm = document.getElementById("filter-selection");
        let filterButton = document.getElementById("icon");

        if (filterForm.style.display === "flex" && !filterForm.contains(event.target) && !filterButton.contains(event.target)) {
            filterForm.style.display = "none";
        }  
    });


    var startdate_url = "{{ request.args.get('startdate', '')}}";
    var enddate_url = "{{ request.args.get('enddate', '') }}";

function submitAllForms(event) {
    event.preventDefault();
    let filters = document.getElementById("filter-selection");
    filters.querySelector('input[name="location-type"]').value = document.querySelector('select[name="location-type"]').value;
    filters.querySelector('input[name="startdate"]').value = document.getElementById('startdate').value;
    filters.querySelector('input[name="enddate"]').value = document.getElementById('enddate').value;
    filters.submit();
};

</script>


<script src="../static/js/dates.js"></script>


<style>
    .flash-message {
      padding: 10px;
      margin: 10px auto;
      border-radius: 5px;
      text-align: center;
      width: 100%;
    }
    .success {
      background-color: #d4edda;
      color: #155724;
      border: 1px solid #c3e6cb;
    }
    .error {
      background-color: #f8d7da;
      color: #721c24;
      border: 1px solid #f5c6cb;
    }
</style>

{% endblock %}