{% extends 'base.html' %}

{% block title %} Search {% endblock %}

{% block styles %} 

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>



<link rel="stylesheet" href="../static/css/search.css" />
<link rel="stylesheet" href="../static/css/dates.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock %}

{% block content %}

<div class="content">
    <div class="main-title">
        <p>Search For Rooms</p>
        <br>
    </div>
    <div class="options">
        <form method="get" action={{url_for('search')}} id="searchbar" class="searchbar">
            <input type="hidden" name="stype" value="apply_search">
            <input type="hidden" name="startdate" value="{{ request.args.get('startdate') }}">
            <input type="hidden" name="enddate" value="{{ request.args.get('enddate') }}">
            <div class="locations">
                <div class="search-description">
                    <i class="fa-solid fa-location-dot" ></i>
                    <p>DESTINATION</p>
                </div>
                <select name="location-type" class="location-type" title="Select a Location">
                    <option disabled selected>Select Location</option>
                      {% if locations %}
                        {% for loc in locations %}
                          <option value="{{loc[0].value}}">{{ loc[0].value }}</option>
                        {% endfor %}
                      {% endif %}
                </select>
            </div>
            <div class="dates">
                <div class="search-description">
                    <i class="fa-solid fa-calendar-days"></i>
                    <p class="nights" id="nights">PERIOD OF STAY</p>
                </div>
                <div class="date-selection">
                    <input type="text" id="startdate" class="startdate" name="startdate" placeholder="Select Start Date">
                    <input type="text" id="enddate" class="enddate" name="enddate" placeholder="Select End Date"> 
                </div>
            </div>
            <div class="submit-area">
                <button class="submit-button" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <p><span>Find</span> Rooms</p>
                </button>
            </div>
            <script src="../static/js/dates.js"></script>
        </form>
        <div class="filters ptop">
            <div class="button-area">
                <button class="icon" id="icon" onclick="toggle_filters()">
                    <i class="fa-solid fa-filter"></i>
                    <p>Filters</p>
                </button>
            </div>
            <form method="get" action={{url_for('search')}} id="filter-selection">
                <input type="hidden" name="stype" value="apply_filters">
                <select name="room_type" id="room_type" title="Select a Room Type">
                    <option value="" selected disabled>Room Type</option>
                    {% if roomtypes %}
                    {% for rt in roomtypes %}
                      <option value="{{rt[0].value}}">{{ rt[0].value }}</option>
                    {% endfor %}
                    {% endif %}
                </select> 
                <select name="bed_type" id="bed_type" title="Select Bed Count">
                    <option value="" selected disabled>Bed Type</option>
                    <option value="1">1 Bed</option>
                    <option value="2">2 Beds</option>
                </select>   
                <select name="smoking_preference" id="smoking_preference" title="Select Smoking Preference">
                    <option value="" selected disabled>Smoking Preference</option>
                    <option value="Smoking">Smoking</option>
                    <option value="Non-Smoking">Non-Smoking</option>
                </select>  
                <select name="accessibility" id="accessibility" title="Accessibility Needs">
                    <option value="" selected disabled>Accessibility Features</option>
                    <option value="one">Wheelchair</option>
                </select>  
                <div class="pricing">
                    <label for="price_range">Maximum Rate</label>
                    <input type="range" name="price_range" id="price_range" min="10" max="700" step="1" value="700" oninput="price_update(this.value)">
                    <p id="price-display">700</p>
                </div>
                <div class="buttons">
                    <button class="sub-sm" type="button" onclick="close_filter()" title="Submit">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                    <input type="submit" class="sub-sm" value="Apply">                 
                </div>
            </form>
        </div>
        <br>
        <div class="search-info">
            <p>1-40 of 200 hotels</p>
            <select name="sort-by" id="sort-by" title="Sort By" onchange="sort()">
                <option value="" selected disabled>Sort By</option>
                <option value="priceL">Price (Low to High)</option>
                <option value="priceH">Price (High to Low)</option>
            </select> 
        </div>
        <br>
        {% for room, number_rooms, min_rid in rooms %}
        <div class = "item">
            <script src="https://unpkg.com/focus-visible@5.0.2/dist/focus-visible.js" defer></script>
            <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
            <img src="../static/images/inside.jpeg" alt="Room" id="thumbnail" onclick="openModal()">
            <div id="modelModal" class="modal">
                <span class="close" onclick="closeModal()">&times;</span>
                <model-viewer src="/static/assets/highly_detailed_opti_0225234237_texture.glb"
                    shadow-intensity="1"
                    camera-controls
                    auto-rotate
                    ar>
                </model-viewer>
            </div>
        
            <script>
                function openModal() {
                    document.getElementById("modelModal").style.display = "flex";
                }
                function closeModal() {
                    document.getElementById("modelModal").style.display = "none";
                }
            </script>
            
            <div class="description">
                <div class="details">
                    <div class="upper-details">
                        <p class="title pbot">{{room.number_beds}}-Bedroom {{room.room_type.value}}</p>
                        <i class="fa-regular fa-heart save"></i>
                        <i class="fa-solid fa-heart unsave"></i>
                    </div>
                    {% if room.ocean_view==YesNo.Y %}
                        <p class="subtitle ptop">Ocean View</p>
                    {% endif %}
                    {% if room.city_view==YesNo.Y %}
                        <p class="subtitle ptop">City View</p>
                    {% endif %}
                    {% if room.balcony==YesNo.Y %}
                        <p class="subtitle ptop">Balcony</p>
                    {% endif %}
                    {% if room.wheelchair_accessible==YesNo.Y %}
                        <p class="subtitle ptop">Wheelchair Accessible</p>
                    {% endif %}
                    {% if room.smoking==YesNo.N %}
                        <p class="subtitle ptop">Non-Smoking Room</p>
                    {% endif %}
                </div>
                <div class="pricing">
                    <p>{{room.rate}} USD / NIGHT</p>
                    {% set startdate = request.args.get('startdate', '') %}
                    {% set enddate = request.args.get('enddate', '') %}
                    <a href="{{ url_for('reserve', rid=min_rid) + '?startdate=' + startdate + '&enddate=' + enddate}}" class="sub">Book</a>
                </div>                
            </div>
        </div>
        <br>
        <br>
        {% endfor %}
    </div> 
</div>

<script>
    function close_filter(){
        document.getElementById("filter-selection").style.display="none";
    }
    function price_update(val){
        document.getElementById("price-display").innerHTML = val;
    }
    function toggle_filters() {
        (document.getElementById("filter-selection").style.display ==='none' || document.getElementById("filter-selection").style.display ==='') ? document.getElementById("filter-selection").style.display = 'flex' : document.getElementById("filter-selection").style.display = 'none';
    }

    function sort(){
        let val = document.getElementById('sort-by').value;
        if(val){
            window.location.href = window.location.pathname + "?sort-by=" + encodeURIComponent(val);
        }
    }
</script>


{% endblock %}