{% macro task_table(title, current_tasks, assignable_staff, Status, SType, condition) %}
<section>
    <p class="subtitle">{{title}}</p>
    <form id="current_tasks" class="tasks" method="post"  action="{{ url_for('staff.tasks') }}">
        <table>
        <th>Issue Time</th>
        <th>Issue Date</th>
        <th>Room Number</th>
        <th>Action Type</th>
        <th>Request Details</th>
        <th>Assigned To</th>
        <th>Status</th>
        {% for current in current_tasks %}
        {% if (condition == 'default' and current.status != Status.C) or 
              (condition == 'completed' and current.status == Status.C) or
              (condition == 'all') or
              (condition == 'staff_unassigned' and current.staff_in_charge == None) or
              (condition == 'staff_pending' and current.status != Status.C and current.staff_in_charge != None) or
              (condition == 'mine_pending' and current.staff_in_charge == session.get("user_id") and current.status != Status.C) or
              (condition == 'mine_complete' and current.staff_in_charge == session.get("user_id") and current.status == Status.C)
        %}
        <tr>
            <td>{{current.issued.strftime("%H:%M")}}</td>
            <td>{{current.issued.strftime("%m/%d/%Y")}}</td>
            <td>{{current.bookings.rooms.get_room_location()}}</td>
            <td>{{current.stype.value}}</td>
            <td>
                {% if current.stype == SType.I %}
                    {% if current.robes %}
                        <p>Robes: {{ current.robes }}</p>
                    {% endif %}
                    {% if current.htowels %}
                        <p>Hand Towels: {{ current.htowels }}</p>
                    {% endif %}
                    {% if current.btowels %}
                        <p>Bath Towels: {{ current.btowels }}</p>
                    {% endif %}
                    {% if current.soap %}
                        <p>Soap: {{ current.soap }}</p>
                    {% endif %}
                    {% if current.shampoo %}
                        <p>Shampoo: {{ current.shampoo }}</p>
                    {% endif %}
                    {% if current.conditioner %}
                        <p>Conditioner: {{ current.conditioner }}</p>
                    {% endif %}
                    {% if current.wash %}
                        <p>Body Wash: {{ current.wash }}</p>
                    {% endif %}
                    {% if current.lotion %}
                        <p>Lotion: {{ current.lotion }}</p>
                    {% endif %}
                    {% if current.hdryer %}
                        <p>Hair Dryer: {{ current.hdryer }}</p>
                    {% endif %}
                    {% if current.pillows %}
                        <p>Pillows: {{ current.pillows }}</p>
                    {% endif %}
                    {% if current.blankets %}
                        <p>Blankets: {{ current.blankets }}</p>
                    {% endif %}
                    {% if current.sheets %}
                        <p>Sheets: {{ current.sheets }}</p>
                    {% endif %}
                {% elif current.stype == SType.H %}
                    {{current.housedatetime.strftime("%H:%M, %m/%d/%Y")}}
                {% elif current.stype == SType.T %}
                    <p>Trash Cleanup</p>
                {% elif current.stype == SType.C %}
                    <p>{{current.calldatetime.strftime("%H:%M, %m/%d/%Y")}}</p>
                {% elif current.stype == SType.D %}
                    <p>{{ current.restaurant }}</p>
                {% elif current.stype == SType.A %}
                    <p>{{ current.assistance.value }}</p>
                {% elif current.stype == SType.O %}
                    <p>{{ current.other }}</p>
                {% endif %}
            </td>
            <td>
                <select name="staffList_{{current.id}}">
                    <option value="" selected disabled>Assignable Staff</option>
                    {% for s in assignable_staff %}
                    <option value="{{s.id}}" {% if current.staff_in_charge==s.id %} selected {% endif %}>{{s.name}}</option>
                    {% endfor %}
                </select>  
            </td>
            <td>
                <select name="statusType_{{current.id}}">
                    <option value="" selected disabled>Current Status</option>
                    {% for s in Status %}
                    <option value="{{s.value}}" {% if current.status==s %} selected {% endif %}>{{s.value}}</option>
                    {% endfor %}
                </select>  
            </td>      
        </tr>
        {% endif %}
        {% endfor %}
        </table>
        <div class="submit">
            <input type="submit" value="Save Changes" class="sub">
        </div>
    </form>
</section>

{% endmacro %}