* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:"Noto Sans Khmer",sans-serif;
}

/* 
body {
    display:flex;
    flex-direction:column;
    min-height:100vh;
} */

a {
    text-decoration:none;
}

hr {
    display:none;
}

header {
    background-color:#002B5A;
    width:100%;
    color:#F1DF75;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    padding-inline:18vw;
    padding-block:1rem;
    transition: padding 1s ease-in-out;
    white-space:nowrap;
    position:sticky;
    z-index: 1000;
    top:0;
    position:relative;
}


header a {
    color: #F1DF75;
    display:flex;
    flex-direction:row;
    padding: 1vh 2vw;
    margin:1px;
    border-radius:15px;
    flex:1;
}

header a:hover {
    background-color:#001E40;
}

.logo {
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:10px;
    margin-right: 20px;
    padding-right:20px;
    border-right-style:solid;
    border-right-width:1px;

}
.logo img {
    width:50px;
    height:50px;
    border-radius: 35px;
}

.logo:hover, .logo-format:hover {
    cursor:pointer;
}

.logo p {
    font-size:2rem;
    font-family:"Lusitana",sans-serif;
}

nav, a {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    font-family:"Noto Sans Khmer",sans-serif;
}

a p{
    margin-left:10px;
}

.profile-info {
    display:flex;
    flex-direction:column;
    position:relative;
}

.profile-info nav {
    display:none;
    flex-direction:column;
    position:absolute;
    top:100%;
    left:0;
    padding:5px 10px 10px 10px;
    background-color:#002B5A;
    font-size:0.8rem;
}



.profile-info nav a {
    display:flex;
    justify-content: left;
    align-items: center;
    border-radius:0px !important;
    border-left-style:solid;
    border-color:#002B5A;
    width:100%;
}

.profile-info:hover nav {
    display:flex;
}

.profile-info nav a:hover {
    background-color:#002B5A !important;
    border-left-style:solid;
    border-color:#F1DF75 !important;
    
}

.main-content {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

footer {
    background-color:#002B5A;
    color:#F1DF75;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding-block:1rem;
    padding-inline:18vw;
    gap:20px;
    /* flex:1; */
}

footer a {
    color:#F1DF75;
}

.logo-format {
    font-size:2rem;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.logo-format img {
    width:80px;
    height:80px;
    border-radius: 55px;
}

.ocean {
    font-family:"Dancing Script";
    font-size:4rem;
    line-height:0.8;
    border-radius: 35px;
}
.vista {
    margin-top:10px;
    font-family:"Mrs Sheppards";
}

.quick-links, .contact-info {
    font-family:"Khula";
    font-size:1.2rem;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}
.quick-links a, .contact-info a {
    font-family:"Noto Sans Khmer";
    font-size:0.8rem;
    padding:5px;
    justify-content:flex-start;
}

.quick-links a:hover, .contact-info a:hover {
    text-decoration:underline;
}

.indent {
    padding-left:28px !important;
}

@media only screen and (max-width:1500px){
    header, footer {
        padding-inline:15vw;
    }
}

@media only screen and (max-width:1300px){
    header, footer {
        padding-inline:10vw;
    }
}

@media only screen and (max-width:1000px){
    header, footer{
        padding-inline:5vw;
    } 

    nav a p {
        display:none;
    }

    header {
        justify-content:space-between;
    }
}

@media only screen and (max-width:700px){
    header, footer {
        padding-inline:1vw;
    }

    footer {
        flex-direction:column;
        text-align:center;
        align-items:center;
    }

    hr{ 
        width:95%;
        display:block;
        margin:10px;
        border:1px solid #F1DF75;
    }
}

@media only screen and (max-width:525px){
    .logo img {
        height:40px;
        width:40px;
    }
    .logo p {
        font-size:1.7rem;
    }
}
@media only screen and (max-width:450px){
    .logo p {
        font-size:1.2rem;
    }

    .logo img {
        display:none;
    }
    .base-links a {
        font-size:0.8rem;
    }

    .quick-links, .contact-info {
        align-items:center;
        margin-block:10px;
    }

    .contact-info {
        width:100%;
    }
    .contact-info a {
        width:200px;
    }
    .inner {
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        margin-inline:10px;
    }

    .indent {
        padding-left:10px !important;
        width:100px;
        text-align:left;
        justify-content:flex-start;
    }
}