.content {
    display:flex;
    flex-direction:column;
    margin-block:50px;
    align-items:center;
    width:100%;
    min-height:80vh;
}

p {
    font-family:"Noto Sans Khmer", sans-serif;
}
.view-options {
    width:55%;
    display:flex;
    flex-direction:row;
}

.view {
    flex-grow:1;
    font-size:1.2rem;
    font-family:"Noto Sans Khmer", sans-serif;
    padding:10px 20px;
    background-color:transparent;
    border-style:none none solid none;
    border-color:#c0bfbf;
}

.current, .history, .saved {
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}


.history, .saved {
    display:none;
}


.history {
    filter:grayscale(40%);
    opacity:0.8;
}

.saved {
    margin-bottom:100px;
}

.title {
    display:flex;
    flex-direction:column;
    width:55%;
    background-color:#FFF9ED; 
    border-style:solid;
    border-radius:15px;
    border-width:1px;
    border-color:#000000;
    margin:10px;
    padding:20px 40px;
    font-size:2rem;
    font-family:"Noto Sans Khmer", sans-serif;
    margin-bottom:0.5rem;
    text-align: center;
}

.subtitle{
    font-size:1.7rem;
    margin-block:10px;
}

.section1 {
    display:flex;
    flex-direction:column;
    width:55%;
}

.nothing {
    margin-bottom:200px;
    color:#757575;
}

.placards {
    display:flex;
    flex-wrap:wrap;
    gap:20px;
}

.placard {
    width:calc(30%);
    max-width:330px;
    position:relative;
}

.placard img {
    object-fit: cover;
    width: 100%;
    height: 230px;
    border-radius: 5px;
}

.placard-information{
    position:absolute; 
    right:0; 
    padding:5px;
}

.placard-information:hover, #close:hover{
    cursor:pointer;
}

.information {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.ptop {
    padding-top:0.5rem;
}
.pbot {
    padding-bottom:0.5rem;
}

.placard {
    border-style:solid;
    border-width:1px;
}

.details, .links {
    display:flex;
    flex-direction:column;
    align-items:start;
    margin:5px 10px;
}

.links2 {
    display:flex;
    flex-direction:row; 
    justify-content:space-between;
    margin:10px;
}

.details p {
    font-size:1.2rem;
}

.room-details {
    font-style: italic;
}

.date-info {
    display:flex;
    flex-direction:column;
    width:100%;
}
.hotel-details p{
    font-size:0.8rem !important;
}

.links a, .links2 a, .links p, .links2 p {
    font-size:0.7rem;
}


.links a:hover, .links2 a:hover, .more:hover {
    text-decoration:underline;
}


#room-modal{
    display:none;
    position:fixed;
    justify-content:center;
    align-items:center;
    z-index:1000;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:hidden;
}
.close {
    position:absolute;
    right:0;
    top:0;
    padding:15px;
    width:100%;
    text-align:right;
    font-size:1.2rem;
}

#close {
    display: inline-block;
}

.more-info-content{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    position:relative;
    gap:4px;
    padding:15px;
    min-width:450px;
    max-width:700px;
    max-height:700px;
    margin:5px;
    overflow:auto;
    border-style:solid;
    border-width:1px;
    border-radius:15px;
    border-color:#757575;
    background-color:#ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.more-info-title {
    font-size:1.5rem;
    text-align:center;
}

#modal-img {
    height:200px;
    width:auto;
    border-radius:15px;
    border-style:solid;
    border-width:1px;
}
#modal-room-details {
    font-style:italic;
    font-weight:bold;
    margin-block:5px;
}
#modal-checkin-date, #modal-checkout-date, #modal-hotel-address, #modal-room-number, #modal-num-guests, #modal-fees {
    width:100%;
    text-align:left;
}

@media only screen and (max-width:1450px){
    .placard {
        width:44% !important;
        max-width:400px !important;
    }
}

@media only screen and (max-width:1200px){
    .content {
        align-items:center;
        flex-direction:column;
    }

    .title, .section1, .view-options {
        width:65%;
    }

}

@media only screen and (max-width:1000px){
    .title, .section1, .view-options {
        width:75%;
    }

    .placards {
        justify-content:center;
    }

    .placard {
        width:45% !important;
        max-width:600px;
    }
}

@media only screen and (max-width:800px){
    .title, .section1, .view-options {
        width:90%;
    }
    .placard {
        width:90% !important;
        max-width:400px !important;
    }
    .placard img {
        height:270px;
    }
}

@media only screen and (max-width:550px){
    .more-info-content{
        width:92%;
        min-width:300px;
        max-width:500px;
        max-height:700px;
    }

    .placard {
        width:95% !important;
    }
}

@media only screen and (max-width:450px){
    .view {
        font-size:1rem;
    }
}