.reservation-details, .all-sections {
    display:flex;
    flex-direction:column;
    align-items:center !important;
    justify-content:center !important;
    width:100%;
}

#reservation-details {
    position:relative;
    margin-block:350px 25px;
    margin-inline:5px;
    padding:20px 40px;
    border-style:solid;
    border-width:1px;
    border-color:#b8b8b8;
    border-radius:15px;
    overflow:hidden;
    background-color:#FFF9ED;
}

.image-container {
    display:flex;
    align-items:center;
    justify-content:center;
    background-image: 
        linear-gradient(to right, #002B5A 5%, transparent 80%, #002B5A 95%),
        linear-gradient(to bottom, #002B5A 15%, transparent 80%, #008DE8 95%),
        url('../images/outside.webp');
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    height:600px;
    width:100%;
    position:absolute;
    top:0;
    color:#ffffff;
}

.image-container p {
    font-size:45px;
    font-family:"Noto Sans Khmer", sans-serif;
    margin:25px;
    text-align:center;
}

p {
    font-family:"Noto Sans Khmer", sans-serif;
    font-size:0.9rem;
}


.main-title, .title {
    text-align:center;
}

.main-title, .title, .subtitle {
    font-weight:bold;
    font-family:"Noto Sans Khmer", sans-serif;

}

.main-title {
    font-size:45px !important;
    margin-top:40px;
    margin-bottom:15px;
}

.title {
    font-size:25px !important;
}

.title-info {
    display:flex;
    flex-direction:column;
}

.subtitle, .subtitle-info {
    font-size:15px;
}

.subtitle-info {
    color:#7f8081;
}

.line {
    display:flex;
    justify-content:space-between;
}
.row {
    display:flex;
    gap:100px;
    flex-wrap:wrap;
}

.col {
    display:flex;
    flex-direction:column;
}


.section {
    display:flex;
    flex-direction:column;
    width:85%;
    gap:10px;
    background-color:#FFF9ED;
    border-color:#002B5A;
    width:100%;
    max-width:1100px;
}


.guests {
    display:flex;
    flex-wrap:nowrap;
}
.guests label {
    display:inline-block;
    width:150px;
}
.guests input {
    flex-grow:1;
}


.upper {
    border-top-style:solid;
    border-width:1px;
    border-color:#b8b8b8;
    margin-top:45px;
    padding-top:20px;
}

textarea {
    border-radius:15px;
    padding:10px;
    font-family:"Noto Sans Khmer", sans-serif;
}

.section input {
    border-radius:7px;
    padding:5px 10px;
    font-family:"Noto Sans Khmer", sans-serif;
    border-style:solid;
    border-width:1px;
    margin-left:8px;
}




.submit-button, .submit-button1 {
    width:100%;
    max-width:1100px;
    padding:15px;
    background-color:#002B5A;
    color:#F1DF75;
    font-family:"Noto Sans Khmer", sans-serif;
    border-radius:15px;
    font-size:1.1rem;
}

.submit-button {
    margin-block:25px;
}

.submit-button:hover, .submit-button1:hover {
    cursor:pointer;
    background-color:#1E1F42;
}

.yellow {
    background-color:#F1DF75;
    color:#002B5A;
}
.yellow:hover {
    background-color: lightgoldenrodyellow;
}

.res-cancel {
    font-size:0.9rem;
    color:#002B5A;
}

.res-cancel:hover {
    text-decoration: underline;
}

.cancel-policy {
    font-size:0.7rem;
    font-style:italic;
}

.returned-room {
    margin: 25px 10px 50px 10px;
}

.returned-room button, .returned-room a{
    background-color:transparent;
    border:none;
    color:#002B5A;
    font-size:15px;
}

.returned-room button:hover, .returned-room a:hover{
    text-decoration:underline;
    cursor:pointer;
}

.buttons {
    display:flex;
    flex-direction:column;
    gap:5px;
}



@media only screen and (max-width:1200px){
    .reservation-details, #reservation-details {
        width:75%;
        max-width:900px;
    }

    .row {
        margin-left:10px;
        justify-content:right;
        gap:20px;
    }

}

@media only screen and (max-width:1000px){
    .reservation-details, #reservation-details {
        width:90%;
        max-width:800px;
    }
}

@media only screen and (max-width:850px){
    .reservation-details, #reservation-details {
        width:80%;
        max-width:700px;
    }
    #reservation-details {
        padding:20px 20px;
    }
}



@media only screen and (max-width:450px){
    .reservation-details {
        width:95%;
    }

}