.content {
    display:flex;
    flex-direction:column;
    margin-block:50px;
    justify-content:center;
    align-items:center;
}

.main-title p {
    font-family: "Noto Sans Khmer", sans-serif !important;
    font-size:45px;
    font-weight:bold;
    color:#ADD8E6;
}

.location-type, .startdate, .enddate, .submit-button {
    border-style:solid;
    border-width:1px;
    padding:15px;
    text-align:center;
    font-family: "Noto Sans Khmer", sans-serif !important;
    font-size:16px;
}

.searchbar {
    display:flex;
    flex-direction:row;
    justify-content:center;
    gap:5px;
    background-color:#002c5a74;
    padding:25px;
    border-radius:50px;
    width:100%;
}

.searchbar .submit-area {
    flex:1;
}

.searchbar .dates {
    flex:2;
}

.search-description {
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:5px;
    padding:2px 20px;
    font-family:"Noto Sans Khmer", sans-serif;
    font-size:12px;
    color:#ffffff;
    margin-bottom:2px;
}

.search-description i{
    color:#002B5A;
}

.locations {
    display:flex;
    flex-direction:column;
    flex:1;
}
.location-type {
    border-radius:50px;
    padding-inline:20px 30px !important;
    appearance:none;
}

.date-selection{
    display:flex;
    flex-direction:row;
    width:100%;
}

.startdate {
    border-radius:50px 0px 0px 50px;
    flex:1;
}

.enddate {
    border-radius:0px 50px 50px 0px;
    flex:1;
}

.submit-area {
    display:flex;
    flex-direction:column;
    justify-content:end !important;
}

.submit-button {
    border-radius:50px;
    display:flex;
    flex-direction:row;
    gap:5px;
    justify-content:center;
    align-items:center;
    background-color:#F1DF75;
}

.submit-button:hover {
    background-color:lightgoldenrodyellow;
}




.options {
    width:100%;
    max-width:1100px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.options .search-info {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:100%;
}
  
  model-viewer {
    width: 100%;
    height: 400px;
    background-color: #70BCD1;
    --poster-color: #ffffff00;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
}

.modal model-viewer {
    width: 40vw;
    height: 40vh;
    background-color: #fff;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}






/* ----------------------------- search result information --------------------------------- */


.search-results {
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
    background-color:rgba(241, 223, 117, 0.3);
    /* border-style:solid; */
    border-width:1px;
    border-radius:15px;
    overflow:hidden;
    padding:20px;
    margin-top:40px;
    gap:10px;

}

.item {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:100%;
    font-size:1.5rem;
    font-family:"Noto Sans Khmer", sans-serif;
    background-color:#002B5A;
    color:#F1DF75;
    border-style:solid;
    border-width:1px;
    border-radius:15px;
    overflow:hidden;
}

.item img {
    width:45%;
    height:280px;
    border-right-style:solid;
    border-right-width:1px;
    border-right-color:#F1DF75;
}

.item .description {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:55%;
    padding:10px 20px;
}

.upper-details {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    font-size:1.8rem;
    border-bottom-style:solid;
    border-width:1px;
}

.upper-details i {
    cursor:pointer;
}

.upper-details .unsave {
    display:none;
}

.item .subtitle {
    font-size:1rem;
}

.item .pricing {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    font-size:1.2rem;
}

.filters {
    display:flex;
    flex-direction:column;
    justify-content:start;
    width:100%;
    margin-block:10px;
}

.filters .icon {
    display:flex;
    flex-direction:row;
    gap:5px;
    background-color:transparent;
    border-style:unset;
}

.filters .pricing {
    display:flex;
    flex-direction:column;
}

.filters .button-area, #filter-selection {
    max-width:300px;
}

#filter-selection {
    display:flex;
    flex-direction:column;
    gap:10px;
    width:100%;
    background-color:#ffffff;
    border-style:solid;
    border-width:1px;
    padding:20px 10px;
    display:none;
    position:absolute;
    z-index:1;
    margin-top:25px;
}

#filter-selection select {
    border-radius:10px;
    padding:5px 10px;
}

#filter-selection .buttons {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}


.sub, .sub-sm {
    background-color:#F1DF75;
    color:#002B5A;
    font-family:"Noto Sans Khmer", sans-serif;
    font-size:1.5rem;
    border-radius:15px;
    padding-inline:10px;
}

.sub-sm {
    font-size:1rem !important;
}

.sub:hover, .sub-sm:hover{
    cursor:pointer;
    background-color:lightgoldenrodyellow;
}

.item hr {
    display:flex !important;
    width:100%;
    color:#F1DF75;
}

.ptop {
    padding-top:10px;
}

.pbot {
    padding-bottom:10px;
}

.pricing a.sub {
    display: inline-block;
    text-decoration: none;
    padding: 6px 12px;
    text-align: center;
    font-family: "Noto Sans Khmer", sans-serif;
    font-size: 1.5rem;
    border-radius: 15px;
}

@media only screen and (max-width:1200px){
    .options, .search-bar {
        width:75%;
        max-width:900px;
    }
    form {
        width:95%;
        max-width:850px;
    }

    .submit-button span {
        display:none;
    }

}

@media only screen and (max-width:1000px){
    .options, .search-bar {
        width:90%;
        max-width:830px;
    }
}

@media only screen and (max-width:850px){
    .options, .search-bar {
        width:80%;
        max-width:680px;
    }
    .searchbar {
        flex-direction:column;
        gap:15px;
    }
    .startdate, .enddate {
        width:50%;
    }
    .submit-button span {
        display:inline;
    }
    form {
        width:95%;
        padding:20px 10px;
    }

}

@media only screen and (max-width:650px){
    .item, .date-selection {
        flex-direction:column;
    }

    .date-selection {
        gap:5px;
    }

    .item img, .item .description {
        width:100%;
    }

    .item img {
        border-right-style:unset;
        border-bottom-style:solid;
        border-bottom-width:1px;
        border-bottom-color:#F1DF75;
    }


    .startdate, .enddate {
        border-radius:50px;
        width:100%;
    }

}


@media only screen and (max-width:450px){
    .options {
        width:95%;
    }

}