.content {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;
}

.messages {
    background-color:#002B5A;
    width:100%;
}

.banner {
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background:linear-gradient(to bottom, #002B5A, #008DE8);
    padding-block:50px;
}

.main-title {
    font-family: "Noto Sans Khmer", sans-serif !important;
    text-align:center;
    color:#ffffff;
}

.title {
    font-size:45px;
    font-weight:bold;
}

.location_type, .startdate, .enddate, .submit-button {
    border-style:solid;
    border-width:1px;
    padding:15px;
    text-align:center;
    font-family: "Noto Sans Khmer", sans-serif !important;
    font-size:16px;
}

.searchbar {
    display:flex;
    flex-direction:row;
    justify-content:center;
    gap:5px;
    background-color:rgba(255, 255, 255, 0.2);
    padding:25px;
    width:100%;
    border-style:solid;
    border-width:1px;
    border-color:rgba(255, 255, 255, 0.2);
    border-radius:15px;
}

.searchbar .submit-area {
    flex:1;
}

.searchbar .dates {
    flex:2;
}

.search-description {
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:5px;
    padding:2px 20px;
    font-family:"Noto Sans Khmer", sans-serif;
    font-size:12px;
    color:#ffffff;
    margin-bottom:2px;
}

.search-description i{
    color:#002B5A;
}

.locations {
    display:flex;
    flex-direction:column;
    flex:1;
}
.location_type {
    border-radius:15px;
    padding-inline:20px 30px !important;
    appearance:none;
}

.date-selection{
    display:flex;
    flex-direction:row;
    width:100%;
}

.startdate {
    border-radius:15px 0px 0px 15px;
    flex:1;
}

.enddate {
    border-radius:0px 15px 15px 0px;
    flex:1;
}

.submit-area {
    display:flex;
    flex-direction:column;
    justify-content:end !important;
}

.submit-button {
    border-radius:15px;
    display:flex;
    flex-direction:row;
    gap:5px;
    justify-content:center;
    align-items:center;
    background-color:#F1DF75;
}

.submit-button:hover, .submit-room button:hover {
    background-color:lightgoldenrodyellow;
}




.options {
    width:100%;
    max-width:1100px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.options .search-info {
    display:flex;
    flex-direction:row;
    width:100%;
}
  
  model-viewer {
    width: 100%;
    height: 400px;
    background-color: rgba(77, 175, 202, 0.3); /* 70% transparency */
    --poster-color: #ffffff00;
  }
  
/* CSS Styles for the close button */
.model-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

.model-close-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

#sort-by {
    border-radius:5px;
    padding:5px;
}





/* ----------------------------- search result information --------------------------------- */
.item-container {
    display:flex;
    flex-direction:row;
    gap:20px;
    flex-wrap:wrap;
    justify-content:center;
    margin-block:25px 50px;
}

.item {
    display:flex;
    flex-direction:column;
    position:relative;
    width:50%;
    max-width:500px;
    /* height:550px; */
    font-size:1.5rem;
    font-family:"Noto Sans Khmer", sans-serif;
    background-color:#ffffff;
    color:#002B5A;
    border-style:solid;
    border-width:1px;
    border-radius:15px;
    overflow:hidden;
    padding-bottom:15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.item img {
    width:100%;
    height:300px;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color:#F1DF75;
    position:relative;
}

.item .circle {
    position:absolute;
    right:0;
    margin:10px;
    padding:8px;
    border-radius:50%;
    color:rgba(255, 255, 255, 0.2);
    font-size:2.5rem;
}

.item .save {
    position:absolute;
    right:0;
    margin:10px;
    padding:16px;
}

.item .description {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:100%;
    padding:10px 20px;
    font-family:"Noto Sans Khmer", sans-serif;
}

.upper-details {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    font-size:1.4rem;
    font-weight:bold;
    /* border-bottom-style:solid;
    border-width:1px; */
}

.upper-details i {
    cursor:pointer;
}

.upper-details .unsave {
    display:none;
}

.inner-details {
    margin-block:10px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap:20px;
}

.item .pricing {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}

.item .pricing-inner {
    display:flex;
    flex-direction:column;
    text-align:right;
}

.item .price {
    font-weight:bold;
    font-size:1.2rem;
}

.item .price-rate {
    font-size:0.8rem;
    font-weight:normal;
}

.desc {
    font-size:1rem;
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:5px;
}


.filters {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    width:100%;
    margin-block:10px;
    position:relative;
}

.filters .icon {
    display:flex;
    flex-direction:row;
    gap:5px;
    background-color:transparent;
    border-style:unset;
}

.filters .pricing {
    display:flex;
    flex-direction:column;
}

.filters .button-area, #filter-selection {
    max-width:300px;
}

#filter-selection {
    display:flex;
    flex-direction:column;
    gap:10px;
    width:100%;
    background-color:#ffffff;
    border-style:solid;
    border-width:1px;
    padding:20px 10px;
    display:none;
    position:absolute;
    z-index:1;
    margin-top:25px;
}

#filter-selection select {
    border-radius:10px;
    padding:5px 10px;
}

#filter-selection .buttons {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}


.sub-sm {
    background-color:#F1DF75;
    color:#002B5A;
    font-family:"Noto Sans Khmer", sans-serif;
    font-size:1rem;
    border-radius:15px;
    padding-inline:10px;
}

.sub-sm:hover{
    cursor:pointer;
    background-color:lightgoldenrodyellow;
}

.item hr {
    display:flex !important;
    width:100%;
    color:#F1DF75;
}

.ptop {
    padding-top:10px;
}

.pbot {
    padding-bottom:10px;
}

.submit-room {
    margin-top:auto;
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    padding-inline:20px;
}
.submit-room button {
    width:100%;
    overflow:hidden;
    height:30px;
    background-color:#F1DF75;
    color:#002B5A;
    font-family:"Noto Sans Khmer", sans-serif;
    font-size:1rem;
    border-style:solid;
    border-width:1px;
    border-color:#002B5A;
    border-radius:10px;
}

.submit-room-button:hover, .item img:hover, .item .save:hover {
    cursor:pointer;
}



@media only screen and (max-width:1200px){
    .options, .search-bar {
        width:75%;
        max-width:900px;
    }
    form {
        width:95%;
        max-width:850px;
    }

    .item {
        max-width:550px;
        width:95%;
    }

    .submit-button span {
        display:none;
    }

}

@media only screen and (max-width:1000px){
    .options, .search-bar {
        width:90%;
        max-width:830px;
    }
}

@media only screen and (max-width:850px){
    .options, .search-bar {
        width:80%;
        max-width:680px;
    }
    .searchbar {
        flex-direction:column;
        gap:15px;
    }
    .startdate, .enddate {
        width:50%;
    }
    .submit-button span {
        display:inline;
    }
    form {
        width:95%;
        padding:20px 10px;
    }

}

@media only screen and (max-width:650px){
    .date-selection {
        flex-direction:column;
    }

    .date-selection {
        gap:5px;
    }

    .startdate, .enddate {
        border-radius:50px;
        width:100%;
    }

}


@media only screen and (max-width:450px){
    .options {
        width:95%;
    }

}